<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.medcn.meet.dao.AudioHistoryDAO" >

    <select id="findUserViewPPTCount" resultType="java.lang.Integer">
      SELECT count(id) FROM t_audio_history WHERE meet_id=#{meetId} AND user_id=#{userId}
    </select>
</mapper>