<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.medcn.meet.dao.AudioCourseDAO" >

    <select id="findResourceCategorys" resultType="cn.medcn.meet.dto.ResourceCategoryDTO">
        SELECT category as name, count(category) as count FROM t_audio_course
        WHERE primitive_id = 0 AND shared=true GROUP BY category
    </select>

    <select id="findResource" resultType="cn.medcn.meet.dto.CourseReprintDTO">
        SELECT c.id, c.title, c.category, c.create_time, c.owner, c.credits,
        u.nickname as pub_user_name, count(r.id)>0 AS reprinted,c.share_type FROM
        t_audio_course c
        LEFT JOIN t_app_user u ON u.id = c.owner
        LEFT JOIN t_audio_course r on r.primitive_id = c.id  AND r.owner=#{userId}
        WHERE c.primitive_id=0 AND c.published = true AND c.shared = true
        <if test="category != null">
            AND c.category = #{category}
        </if>
        <if test="keyword != null">
            AND c.title like CONCAT('%',#{keyword}, '%')
        </if>
        GROUP BY c.id
        ORDER BY c.create_time DESC
    </select>

    <select id="findMyReprints" resultType="cn.medcn.meet.dto.CourseReprintDTO">
        SELECT  c.id, c.title, u.nickname as pub_user_name
        FROM t_audio_course c
        LEFT JOIN t_audio_course r on r.id=c.primitive_id
        LEFT JOIN t_app_user u ON u.id = r.owner
        WHERE c.primitive_id>0 AND c.owner = #{userId}
        <if test="keyword != null">
            AND c.title like CONCAT('%',#{keyword}, '%')
        </if>
    </select>

    <select id="findMyShared" resultType="cn.medcn.meet.dto.CourseSharedDTO">
        SELECT c.id, c.title, c.shared, count(r.id) as reprintCount FROM t_audio_course c
        LEFT JOIN t_audio_course r ON r.primitive_id = c.id
        WHERE c.primitive_id=0 AND c.owner = #{userId} AND c.published = true
        <if test="keyword != null">
            AND c.title like CONCAT('%',#{keyword}, '%')
        </if>
        GROUP BY c.id
    </select>

    <select id="findMyReprinted" resultType="cn.medcn.meet.dto.CourseReprintDTO">
        SELECT c.id, c.title, u.nickname as pub_user_name, r.create_time FROM t_audio_course c
        INNER JOIN t_audio_course r on r.primitive_id=c.id
        INNER JOIN t_app_user u on u.id = r.owner
        WHERE c.owner = #{userId}
        <if test="keyword != null">
            AND c.title like CONCAT('%',#{keyword}, '%')
        </if>
        ORDER BY r.create_time DESC
    </select>


    <!-- csp method sql -->
    <select id="findCspMeetingList" resultType="cn.medcn.meet.dto.CourseDeliveryDTO">
        SELECT c.id, c.title, c.play_type, l.start_time, l.end_time, l.live_state, l.live_page,
        cd.img_url as cover_url, count(cd.id) as page_count,SUM(cd.duration) as play_time,
        p.play_page,p.play_state
        FROM t_audio_course c
        LEFT JOIN t_csp_live l ON l.course_id = c.id
        INNER JOIN t_audio_course_detail cd ON c.id = cd.course_id
        LEFT JOIN t_csp_audio_course_play p ON p.course_id = c.id
        WHERE c.csp_user_id = #{cspUserId}
        GROUP BY c.id
    </select>
</mapper>