<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.medcn.meet.dao.CourseCategoryDAO" >

    <select id="findByLevel" resultType="cn.medcn.meet.model.CourseCategory">
      SELECT * FROM t_csp_course_category WHERE `depth` = #{depth}
    </select>
</mapper>