<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.medcn.meet.dao.CspStarRateHistoryDAO" >

    <select id="findRateResultHasDetails" resultType="cn.medcn.meet.dto.StarRateResultDTO">
        SELECT d.option_id, o.title, avg(d.score) AS avg_score, count(d.option_id) AS score_count FROM
        t_csp_star_rate_option o INNER JOIN t_csp_star_rate_history_detail d on d.option_id = o.id
        WHERE o.course_id = #{courseId} GROUP BY d.option_id
    </select>

    <select id="findRateResultExcludeDetails" resultType="cn.medcn.meet.dto.StarRateResultDTO">
        SELECT  t.id,t.title,t.info,AVG(th.score) AS avg_score,
        COUNT(th.course_id) AS score_count,t.`star_rate_flag` AS starStatus
        FROM t_audio_course t
        LEFT JOIN  t_csp_star_rate_history th
        ON t.id = th.course_id
        WHERE t.id = #{courseId}
        GROUP BY t.id,th.course_id
    </select>

</mapper>