<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.medcn.meet.dao.MeetLecturerDAO" >
    <select id="selectByMeetId" resultType="cn.medcn.meet.model.Lecturer">
        SELECT * FROM t_meet_lecturer WHERE meet_id = #{meetId}
    </select>
</mapper>