<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.medcn.meet.dao.RecommendMeetDAO" >

    <select id="recommendMeetList" resultType="cn.medcn.meet.model.Recommend">
        SELECT r.*,m.meet_name,m.state
        FROM t_recommend r
        INNER JOIN v_meet_folder_final m
        ON r.resource_id = m.id
        WHERE 1 = 1
        <if test="meetName != null">
            AND m.meet_name LIKE  CONCAT('%',#{meetName},'%')
        </if>
        <if test="recType != null">
            AND r.rec_type =#{recType}
        </if>
        <if test="recFlag != null">
            AND r.rec_flag = #{recFlag}
        </if>
        <if test="sort != null">
            AND r.sort = #{sort}
        </if>
        ORDER BY r.sort
    </select>

</mapper>