<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.medcn.meet.dao.SurveyHistoryItemDAO" >

    <select id="findSubjQuesAnswerByQuestionId" resultType="cn.medcn.meet.dto.SubjQuesAnswerDTO">
        SELECT h.user_id,u.nickname,i.answer FROM t_survey_history h
        LEFT JOIN t_survey_history_item i ON i.history_id = h.id
        INNER JOIN t_app_user u ON u.id = h.user_id
        where question_id = #{questionId}
    </select>
</mapper>