/*
    create xingjie
*/
/*防止移动*/
html,body { overflow-x:hidden; background-color:#fff;}


/*ios默认按钮去除*/
input[type="button"], input[type="submit"], input[type="reset"] { -webkit-appearance: none; }
textarea { -webkit-appearance: none;}


/*button*/
.button,
.button i{ display:inline-block; }
.button-icon-return i{ width:0.40rem; height:0.40rem; background:url(../images/button-icon-retrun.png) center no-repeat; -webkit-background-size:.40rem; background-size:.40rem; }
.button-icon-info i{ width:0.40rem; height:0.40rem; background:url(../images/button-icon-info.png) no-repeat; -webkit-background-size:.40rem; background-size:.40rem; }
.button-icon-discuss i{ width:.40rem; height:.40rem; background:url(../images/button-icon-discuss.png) no-repeat; -webkit-background-size:.40rem .40rem; background-size:.40rem .40rem;}
.button-icon-discuss {position: relative; min-width: 1.5rem;}
.CSPMeeting-bottom .num { font-size:.2rem; margin-left:.03rem;     position: relative; top:-0.06rem;}
.CSPMeeting-bottom .button i { font-size:0;}
.button-icon-report i{ width:.4rem; height:.4rem; background:url(../images/button-icon-report.png) no-repeat; -webkit-background-size:.4rem .4rem; background-size:.4rem .4rem;}

.button-icon-state .button-icon-play,
.button-icon-onFull-off i,
.button-icon-discuss i,
.button-icon-info i,
.button-icon-star i,
.button-icon-state .button-icon-stop { vertical-align: middle; }

.button-icon-star { vertical-align: top;}
.button-icon-star i{ width:.40rem; height:.40rem; background:url(../images/icon-star-null.png) no-repeat; -webkit-background-size:.40rem .40rem; background-size:.40rem .40rem; position: relative; top:-0.04rem; margin-right:.1rem;}
.button-icon-star .off i{  background:url(../images/icon-star-null.png) no-repeat; -webkit-background-size:.40rem .40rem; background-size:.40rem .40rem;}
.button-icon-star .on i{  background:url(../images/icon-star-full.png) no-repeat; -webkit-background-size:.40rem .40rem; background-size:.40rem .40rem;}
.button-icon-state .button-icon-play{ width:.40rem; height:.40rem; background:url(../images/button-icon-play.png) no-repeat; -webkit-background-size:.40rem .40rem; background-size:.40rem .40rem; }
.button-icon-state .button-icon-stop{ width:.40rem; height:.40rem; background:url(../images/button-icon-stop.png) no-repeat; -webkit-background-size:.40rem .40rem; background-size:.40rem .40rem;}
.button-icon-volume i { width:.68rem; height:.48rem;  }
.button-icon-volume .button-icon-volume-close{  background:url(../images/button-icon-volume-close.png) no-repeat center; -webkit-background-size:.4rem .4rem; background-size:.4rem .4rem;}
.button-icon-volume .button-icon-volume-open{ background:url(../images/button-icon-volume-open.png) no-repeat center; -webkit-background-size:.4rem .4rem; background-size:.4rem .4rem;}
.button-icon-onFull i{ width:0.40rem; height:0.40rem; background:url(../images/button-icon-onFull.png) no-repeat; -webkit-background-size:.40rem; background-size:.40rem;  }
.button-icon-onlineUser i{width:0.4rem; height:0.4rem; background:url(../images/button-icon-onlineUser.png) no-repeat; -webkit-background-size:.4rem .4rem; background-size:.4rem .4rem; }
.button-icon-onFull-off { padding:0 .15rem; position: static !important;}
.button-icon-onFull-off i{ width:.40rem; height:.40rem; background:url(../images/button-icon-onFull-off.png) center no-repeat;  -webkit-background-size:.40rem .40rem; background-size:.40rem .40rem;}

.error { color:#f00;  }
.pr { position: relative !important;}

.CSPMeeting-gallery { position: relative; height:900px; }
.CSPMeeting-bottom { position: absolute; width:100%; bottom:8%; left:0; z-index: 10; /*min-height:.81rem;*/ padding:.15rem 0; background: rgba(255,255,255,0.80);}

.CSPMeeting-bottom .flex-item {text-align: center;     line-height: 0;}
.CSPMeeting-bottom .flex {padding:0 10%;}

.icon-added { position: fixed; top:1.7%; right:3.6%; z-index: 19891015;}
.icon-added {}
.icon-added span {/* display: block; width:.46rem; height:.4rem; background:url(../images/icon-added.png) no-repeat; background-size:.46rem .4rem;*/}
.icon-added span { display: block; background:#FF5656 ; padding:.02rem .16rem; color:#fff; font-size:.20rem; border-radius: .2rem;  position: relative;}
.icon-added .arrows { width:0.06rem; height:0.24rem; background:url(../images/icon-added.png) no-repeat right; position: absolute; right: -0.04rem; top: 0.08rem;}

.listItme-popup { display: none;}
.listItme-popup .listItme-popup-button{ width:100%; padding:2.8% 0 ; font-size:.36rem; display: block; text-align: center; border-bottom: 1px solid #E0E0E5; }

.swiper-container {
    width: 100%;
    height: 30rem;
    margin-left: auto;
    margin-right: auto;
}
.swiper-slide {
    background-size: contain;
    background-position: center;
    background-repeat:no-repeat;
    background-color:#fff;
}
.gallery-top {
    height: 36.5%;
    width: 100%;
}

.gallery-thumbs {
    height: 14.7%;
    box-sizing: border-box;
    margin-top: 16%;
}

.gallery-thumbs {
    height: 14.7%;
    box-sizing: border-box;
    margin-top: 16%;
}

.gallery-thumbs .swiper-wrapper {
    margin-bottom:21%;
}
.gallery-thumbs .swiper-slide {
    width:35%;
    height: 86%;
    opacity: 0.4;
    top:7%;
}
.swiper-slide video {
    height:100%;
    background-color:#101010;
}
.gallery-thumbs .swiper-slide-active {
    height: 100%;
    opacity: 1;
    top:0;
}
.gallery-top .boxAudio { position: absolute;right:.2rem; bottom:.3rem;  }
.swiper-btn-item { position: absolute;  width:100%; padding: 0.4% 0; text-align: center; }
.swiper-btn-item  .swiper-button-prev,.swiper-btn-item .swiper-pagination ,.swiper-btn-item  .swiper-button-next { display: inline-block; position: static;}
.swiper-btn-item .swiper-pagination-fraction { width:auto;  padding-top:1%;   vertical-align: top; font-size:.32rem; color:#b3b3b3;}
.swiper-btn-item  .swiper-button-next { background:url(../images/swiper-button-next.png) no-repeat center right;}
.swiper-btn-item  .swiper-button-prev { background:url(../images/swiper-button-prev.png) no-repeat center left;}
.swiper-btn-item .swiper-pagination-current { color:#333333; }

.video-play-live { margin-top: 11%; width:100%; position: relative;  }
.video-play-live .video-play-wrapper { background:#101010; width:100%  }
.CSPMeeting-gallery-live .video-play-live .viedoItem { height:100% !important; background-color:transparent !important;}
.popup-fullStatus .video-play-live.popup-volume .viedoItem { background-color:#000 !important;}
.popup-fullStatus .popup-min-screen .video-notPlay-bg,
.popup-fullStatus .popup-min-screen .video-notPlay-load,
.popup-fullStatus .popup-min-screen .video-notPlay{
    display: none;}
.popup-fullStatus .popup-min-screen .popup-volume-icon,
.popup-fullStatus .popup-volume .popup-volume-icon,
.popup-min-screen .popup-volume-icon{ display: none; }
.popup-volume-icon { position: absolute; top:.2rem; left:.2rem; z-index: 5;}
.popup-volume-icon i{ display:inline-block; width:.52rem; height:.52rem; background:url(../images/icon-popup-volume.png) no-repeat; background-size:.52rem .52rem; }
.swiper-picture { display: inline-block; vertical-align: middle; background-repeat: no-repeat; background-position: 50% 50%; background-size: contain;  cursor: pointer; margin: 0; padding: 0; position: absolute; top: 0; right: 0; bottom: 0; left: 0; height: 100%;}
.meeting-last-img { background-size:2.94rem 2.34rem;}
.meeting-last-img-EN { background-size:3.9rem 1.42rem; }

.video-notPlay-bg { position: absolute; left:50%; top:50%; margin-left:-1.08rem; margin-top:-.56rem; z-index: 12; color:#fff; text-align: center; font-size:.24rem;}
.video-notPlay-bg i{ display: block; width:.6rem; height:.52rem;  background:url(../images/icon-video-notPlay2.png) no-repeat center; margin:0 auto; margin-bottom:.2rem;}

.video-notPlay-load { position: absolute; left:50%; top:50%; margin-left:-.3rem; margin-top:-.3rem; z-index: 12; color:#fff; text-align: center; }
.video-notPlay-load i{ display: block; width:.6rem; height:.6rem;  background:url(../images/video-load.png) no-repeat center; margin:0 auto; margin-bottom:.2rem;  -webkit-animation: rotate 0.75s 0s linear infinite;
    animation: rotate 0.75s 0s linear infinite;  }
/*自转*/
@keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg) scale(1);
        transform: rotate(0deg) scale(1); }

    100% {
        -webkit-transform: rotate(360deg) scale(1);
        transform: rotate(360deg) scale(1); }
}
.video-notPlay-item { background-color:#000 !important;}
.video-notPlay { position: absolute; left:50%; top:50%; margin-left:-.84rem; margin-top:-.94rem; z-index: 12; color:#888888;; text-align: center; font-size:.24rem;}
.video-notPlay i{ display: block; width:1.28rem; height:1.28rem;  background:url(../images/icon-video-notPlay.png) no-repeat center; margin:0 auto; margin-bottom:.2rem;}


.layer-hospital-popup-fullSize { height:100%; }
.layer-hospital-popup { background:#000; height:100%; position: relative; overflow: hidden;}
.layer-hospital-popup .layui-layer-min,.layer-hospital-popup .layui-layer-max { display: none;}
.layer-hospital-popup .swiperBox{ height:100%; overflow: initial;}
.layer-hospital-popup .layui-layer-close2 { display: none;}
.layer-hospital-popup .boxAudio { background:#000;      position: absolute; bottom: 0; width: 100%;}
.CSPMeeting-popup-fullsize .boxAudio-loading,
.CSPMeeting-popup-fullsize .boxAudio { position: absolute;right:.2rem; bottom:1rem; width:auto; z-index: 11; background:transparent; }
.layer-hospital-popup .slider-box{ width:100%;}
.layer-hospital-popup .boxAudio .audiojs .scrubber { width:100%;}
.layer-hospital-popup .boxAudio .audio-meeting-box,.layer-hospital-popup .boxAudio .audiojs { width:100%; margin:0; height:auto;}
.layer-hospital-popup .audiojs div.play-pause { position: absolute; bottom:16px; left:10px;     display: none; border-right: 0;}
.layer-hospital-popup .meetingSwiperBox .swiper-wrapper { width:100%;   }
.CSPMeeting-popup-fullsize .layer-hospital-popup,
.layer-hospital-popup .meetingSwiperBox .swiper-container { height:100%; overflow: inherit; margin:0; z-index: auto;}
.CSPMeeting-popup-fullsize .layer-hospital-popup .pinch-zoom-container { height:100% !important;}
.CSPMeeting-popup-fullsize .layer-hospital-popup .swiper-btn-item { display: none;}
.CSPMeeting-popup-fullsize .layer-hospital-popup .swiper-slide-active,
.layer-hospital-popup .meetingSwiperBox .swiper-slide-active { background:#000; border:0; height:auto; }
.CSPMeeting-popup-fullsize .layer-hospital-popup .swiper-slide,
.layer-hospital-popup .meetingSwiperBox .swiper-slide { width:100% !important; background:#000; height:100%; }
.CSPMeeting-popup-fullsize .layer-hospital-popup .swiper-picture,
.layer-hospital-popup .meetingSwiperBox  .swiper-picture{  background-color: #000; }

.layer-hospital-popup .meetingSwiperBox .meeting-swiper { width:100%; height:100%;}
.layer-hospital-popup .meetingSwiperBox .swiper-container-horizontal > .swiper-pagination { top:auto;}
.layer-hospital-popup .meetingSwiperBox .meeting-swiper .swiper-button-prev { /*background:url(../images/popup-player-prev.png) left center no-repeat;*/ padding-right:50px;}
.layer-hospital-popup .meetingSwiperBox .meeting-swiper .swiper-button-next {/* background:url(../images/popup-palyer-next.png) right center no-repeat;*/ padding-left:50px;}
.layer-hospital-popup .meetingSwiperBox .swiper-pagination { position: static; display: inline-block; vertical-align: top; color:#fff; font-size:16px;}
.layer-hospital-popup .meetingSwiperBox .meeting-button {  display: inline-block; width:11px; height:22px; padding:0; border:none;}
.layer-hospital-popup .meetingSwiperBox .meeting-btn-item { top:inherit; position: absolute; bottom:-110px; left:50%; margin-left:-90px; }
.layer-hospital-popup .meetingSwiperBox .audio-meeting-box { }
.layer-hospital-popup .meetingSwiperBox .swiper-button-disabled { background-color:transparent !important; opacity: 0.2; -moz-opacity: 0.2; -khtml-opacity: 0.2; filter: alpha(opacity=20);}
.layer-hospital-popup .meetingSwiperBox .swiper-changeFullSize-button { position: absolute; right:25px; bottom:20px; }
.swiper-changeFullSize-button span{ display: block; /*background:url(../images/popup-palyer-onFull.png) no-repeat;*/ width:22px; height:22px;}
.layer-hospital-popup-fullSize .meetingSwiperBox .swiper-button-prev,.layer-hospital-popup-fullSize .meetingSwiperBox .swiper-button-next {position: absolute; top:20% ;padding: 25% 150px; }
.layer-hospital-popup-fullSize .meetingSwiperBox .meeting-swiper .swiper-button-prev { left:0; background-position: 25% 50%; padding-right: 0;}
.layer-hospital-popup-fullSize .meetingSwiperBox .meeting-swiper .swiper-button-next { right:0; background-position: 75% 50%; padding-left: 0;}

.layer-hospital-popup-fullSize { width:100%; }
.layui-layer-page .layui-layer-setwin .layui-layer-close2 {width:20px; height:20px; top:0; right:0; /*background:url(../images/popup-player-icon-close.png) no-repeat;*/}
.layui-layer-page .layui-layer-setwin .layui-layer-close2:hover { background-position: 0; opacity: 0.5; -moz-opacity: 0.5; -khtml-opacity: 0.5; filter: alpha(opacity=50); }

.layer-hospital-popup .swiper-slide-title {position:absolute; left:0; bottom:0; width:100%; height:.6rem; line-height: .6rem; background:rgba(0,0,0,1) }
.layer-hospital-popup .swiper-slide-title .title { padding:0 30px; font-size:20px;}
.layer-hospital-popup .swiper-slide-title a{padding-left:25px; margin-right:30px; font-size:16px; color:#3fa9f5; /*background:url(../images/popup-player-issue.png) no-repeat center left;*/ }
.layer-hospital-popup .swiper-slide-title a:hover{color:#5ca1d2}
.layer-hospital-popup .swiper-pagination-fraction,.layer-hospital-popup .swiper-pagination-custom,.layer-hospital-popup .swiper-container-horizontal > .swiper-pagination-bullets { width:auto;}
.meeting-popup-box .rowSpace{ position: relative; top: -2px; margin: 0 15px; }


.layer-hospital-popup-fullSize .swiper-slide-title {bottom:0; left:0; z-index: 2; background: rgba(0,0,0,0.5);}
.layer-hospital-popup-fullSize .swiper-slide-title .title { color:#fff;}


.CSPMeeting-meeting-faq-popup { position: relative; height:100%; display: none; }
.CSPMeeting-meeting-faq-popup .meeting-faq-popup-input { padding:.2rem .2rem .2rem 0; position: absolute; bottom:0; left:0; width:100%; border-top:.01rem solid #dbdbdb; background-color:#fff;}
.CSPMeeting-meeting-faq-popup .meeting-faq-popup-input .meeting-faq-popup-input-text{ display: inline-block; width:86%;  padding:.2rem ; font-size:.3rem; border:none; background-color:#f0f0f0;}
.meeting-faq-popup-input { }
.CSPMeeting-meeting-faq-popup .meeting-faq-popup-main{ padding: .4rem .3rem 0; height:90%; overflow: hidden;}
.CSPMeeting-meeting-faq-popup .meeting-faq-popup-userName { color:#888888;}
.CSPMeeting-meeting-faq-popup .meeting-faq-popup-userName h3 { font-size:.3rem;}
.CSPMeeting-meeting-faq-popup .meeting-faq-popup-item img{ width:.88rem; height:.88rem; border-radius: 50%; margin-right:.3rem;}
.CSPMeeting-meeting-faq-popup .meeting-faq-popup-userMessage { padding:.3rem 0; font-size:.28rem; border-bottom:.01rem solid #dbdbdb; }
.CSPMeeting-meeting-faq-popup .button-icon-return{  position: static;  padding: .26rem 3% 0 2%;}
.CSPMeeting-meeting-faq-popup .button-icon-return i {}
.CSPMeeting-meeting-faq-popup .meeting-faq-popup-item {margin-bottom:.4rem;}
.meeting-faq-popup-keyboard{position: absolute; bottom: 0; left:0; width: 100%; height:4rem; padding:.2rem .3rem; background-color: #fff; display: none;}
.meeting-faq-popup-keyboard .layui-layer-close { position: static;}
.meeting-faq-popup-keyboard-main {  }
.meeting-faq-popup-keyboard-main textarea{ border:0; width:100%; height: 2.7rem; padding:2% 3%; font-size:.3rem;  resize: none;}
.meeting-faq-popup-keyboard-head { margin-bottom:.2rem; font-size:0;}
.meeting-faq-popup-keyboard-head span{width:20%; display: inline-block;  font-size:.34rem; color:#b3b3b3; }
.meeting-faq-popup-keyboard-head .num{ width:60%; text-align: center;}
.meeting-faq-popup-keyboard-head .meeting-faq-popup-keyboard-send { color:#0882e7;}

.CSPMeeting-meeting-star-popup,
.CSPMeeting-meeting-info-popup { display: none;}
.CSPMeeting-meeting-info-popup .meeting-info-popup-main { padding:.56rem;}
.CSPMeeting-meeting-info-popup .meeting-info-popup-main .title h3 { font-size:.3rem; }
.CSPMeeting-meeting-info-popup .meeting-info-popup-main .title { border-bottom:1px solid #dbdbdb; padding-bottom:.2rem; margin-bottom:.2rem; text-align: center; }
.CSPMeeting-meeting-info-popup .meeting-info-popup-main .text { color:#666; font-size:.28rem;}

.CSPMeeting-meeting-star-popup .meeting-star-popup-main { padding:.56rem .36rem;}
.meeting-star-head { font-size:.28rem; color:#333; text-align: center; margin-bottom:.3rem;}
.meeting-star-head h3 { font-size:.36rem; margin:.06rem 0 .1rem;}
.meeting-star-head .meeting-star-author{ background:url(../images/meeting-star-author-bg.png) repeat-x center;  }
.meeting-star-head .meeting-star-author span { background:#fff; padding:0 .25rem;}
.meeting-star-head .meeting-star-img {  margin-bottom:.16rem;}
.meeting-star-head .meeting-star-img img{ width:.96rem; height:.96rem; }

.meeting-star-main { font-size:.28rem;}
.meeting-star-main .star-max { margin:.2rem 0 .4rem;}
.meeting-star-main .star-box { text-align: center;}
.meeting-star-main .star-box .star-item{ margin-right:0; }
.meeting-star-main .star-box .star-item span { margin-right:.1rem;}

.meeting-star-main .meeting-star-getStarNum { position: relative;}
.meeting-star-main .meeting-star-getStarNum .fixed-box-item{    width: 100%; height: 100%; position: absolute; top: 0; left: 0; z-index: 20;}


.meeting-star-button { margin-top:1rem;}
.meeting-star-row .grade { display: inline-block; position: relative; top:-.05rem; width:.7rem; text-align: right;}
.meeting-star-row { margin:.1rem 0;}
.meeting-star-button .tips { border-color:#fff !important; color:#9699a2 !important; font-size:.3rem !important;}
.meeting-star-button .disabled { color:#9699a2 !important; border-color:#9699a2 !important; }

.star-showScore { border-top:1px solid #dbdbdb; margin-top:.2rem; padding-top:.2rem;}
.star-showScore-button { margin-top:.46rem;}
.popup-star-button .button { font-size:.26rem; padding:.14rem .3rem;
    color: #167afe; background:none; border:0.02rem solid #167AFE; -webkit-border-radius:.46rem; -moz-border-radius:.46rem; border-radius:.46rem;}
.star-showScore-title { position: relative; top:.06rem;}

.star-box > div { display:inline-block; }
.star-box span{ width:.40rem; height:.40rem; display: inline-block; margin-right:.04px;  }
.star-box .star-item { margin-right:.3rem; position: relative; top: .06rem;}
.star-min span {  width:.36rem; height:.36rem;  }
.star-max span { width:.66rem; height:.66rem;}
.star-box {}

.star-min .full{ background:url(../images/icon-star-full.png) no-repeat top; background-size:.36rem;}
.star-min .half{ background:url(../images/icon-star-half.png) no-repeat top; background-size:.36rem;}
.star-min .null{ background:url(../images/icon-star-null.png) no-repeat top; background-size:.36rem;}

.star-max .full{ background:url(../images/icon-star-full.png) no-repeat top; background-size:.66rem;}
.star-max .half{ background:url(../images/icon-star-half.png) no-repeat top; background-size:.66rem;}
.star-max .null{ background:url(../images/icon-star-null.png) no-repeat top; background-size:.66rem;}


/*评分的星*/

.star_bg { width:3rem; height: .45rem; background-image: url(../images/getStarNumber.png); background-repeat:no-repeat; background-position: 0 -0.63rem; background-size: 3rem auto; position: relative; overflow: hidden; display: inline-block; }
.star { height: 100%; width: .5rem; position: absolute; background-size: 3rem auto; z-index: 3;
}
.star:hover { background-image: url(../images/getStarNumber.png); background-repeat:no-repeat; background-position: 0 0rem; background-size: 3rem auto; left: 0; z-index: 2;
}
.star_1 { left: 0; }
.star_2 { left: .56rem; }
.star_3 { left: 1.2rem; }
.star_4 { left: 1.8rem; }
.star_5 { left: 2.4rem; }

.star_1:hover { width: .56rem; }
.star_2:hover { width: 1.2rem; }
.star_3:hover { width: 1.8rem; }
.star_4:hover { width: 2.4rem; }
.star_5:hover { width: 3rem; }


.star_bg label { display: block; _display:inline; height: 100%; width: 100%; cursor: pointer; }

.score { position: absolute; clip: rect(0 0 0 0); }
.score:checked + .star { background-image: url(../images/getStarNumber.png); background-repeat:no-repeat; background-position: 0 0rem; background-size: 3rem auto; left: 0; z-index: 1;
}
.score_1:checked ~ .star_1 { width: .56rem; }
.score_2:checked ~ .star_2 { width: 1.2rem; }
.score_3:checked ~ .star_3 { width: 1.8rem; }
.score_4:checked ~ .star_4 { width: 2.4rem; }
.score_5:checked ~ .star_5 { width: 3rem; }

.star_bg:hover .star { }

/* for IE6-IE8 JS 交互 */
.star_checked { background-image: url(../images/getStarNumber.png); background-repeat:no-repeat; background-position: 0 0rem; left: 0; z-index: 1;
}


/*=======================================*/

.getShowNum-min .star_bg { width:2.4rem; height: .45rem; background-image: url(../images/getStarNumber.png); background-repeat:no-repeat; background-position: 0 -0.5rem; background-size: 2.4rem auto; position: relative; overflow: hidden; display: inline-block; top:.1rem;
}
.getShowNum-min .star { height: 100%; width: .5rem; position: absolute; background-size: 2.4rem auto; z-index: 3; }
.getShowNum-min .star:hover { background-image: url(../images/getStarNumber.png); background-repeat:no-repeat; background-position: 0 0rem; background-size: 2.4rem auto; left: 0; z-index: 2;
}
.getShowNum-min .star_1 { left: 0; }
.getShowNum-min .star_2 { left: .5rem; }
.getShowNum-min .star_3 { left: 1rem; }
.getShowNum-min .star_4 { left: 1.5rem; }
.getShowNum-min .star_5 { left: 2rem; }

.getShowNum-min .star_1:hover { width: .5rem; }
.getShowNum-min .star_2:hover { width: 1rem; }
.getShowNum-min .star_3:hover { width: 1.5rem; }
.getShowNum-min .star_4:hover { width: 2rem; }
.getShowNum-min .star_5:hover { width: 2.4rem; }

.getShowNum-min .star_bg label { display: block; _display:inline; height: 100%; width: 100%; cursor: pointer;
}
.getShowNum-min .score { position: absolute; clip: rect(0 0 0 0); }
.getShowNum-min .score:checked + .star { background-image: url(../images/getStarNumber.png); background-repeat:no-repeat; background-position: 0 0rem; background-size: 2.4rem auto; left: 0; z-index: 1;
}
.getShowNum-min .score_1:checked ~ .star_1 { width: .5rem; }
.getShowNum-min .score_2:checked ~ .star_2 { width: 1rem; }
.getShowNum-min .score_3:checked ~ .star_3 { width: 1.5rem; }
.getShowNum-min .score_4:checked ~ .star_4 { width: 2rem; }
.getShowNum-min .score_5:checked ~ .star_5 { width: 2.4rem; }

.getShowNum-min .star_bg:hover .star { }

/* for IE6-IE8 JS 交互 */
.getShowNum-min .star_checked { background-image: url(../images/getStarNumber.png); background-repeat:no-repeat; background-position: 0 0rem; left: 0; z-index: 1; }







.info-popup { border-radius: 4px !important;}
.info-popup .layui-layer-setwin { width:.68rem; height:.68rem; right:-.2rem; top:-.26rem;  }
.info-popup .layui-layer-setwin .layui-layer-close{ display: inline-block; width:.50rem; height:.50rem; background: url(../images/icon-info-close.png) no-repeat; background-size:.50rem;}



.CSPMeeting-popup-fullsize { width:100%; height:100%; position: relative;}

.layer-hospital-popup-thumbs-fullSize {}
.layer-hospital-popup-thumbs-fullSize .swiper-full-thumbs-container-hook  .swiper-slide { width:10%; height: 86%; opacity: 0.4; top:7%;  }

.layer-hospital-popup-thumbs-fullSize .swiper-full-thumbs-container-hook{ height: 14.7%; box-sizing: border-box;  }
.gallery-thumbs .swiper-wrapper {  }
.layer-hospital-popup-thumbs-fullSize .swiper-full-thumbs-container-hook .swiper-slide-active { height: 100%; opacity: 1; top:0;  }


/*加载中loading*/
.boxAudio-loading { position: absolute; right: .2rem; bottom: .3rem; z-index: 10;}
.boxAudio-loading .time {background: rgba(0,0,0,.5); padding: .05rem .2rem; border-radius: .3rem;}
.boxAudio-loading .time span img{ width:.24rem; height:.20rem;}
.boxAudio-loading .time .text {    padding: 0px 0 0px .05rem; color: #fff; font-style: normal; font-size: .23rem; font-family: "Microsoft YaHei","Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","\5FAE\8F6F\96C5\9ED1",Arial,sans-serif;}

/*兼容判断*/
.isIphoneSafari { display: none; position: absolute; top:0; left:0; width:100%; height:100%;background:rgba(0,0,0,1) url(../images/button-icon-play-01.png) no-repeat center; background-size:1rem 1rem;}

/*引导下载*/
.CSPmeeting-ad-item { position: absolute; top:0; left:0; background:url(../images/meeting-ad-bg.png) ; height:.84rem; width:100%; background-size:cover; color:#fff; z-index: 12; }
.CSPmeeting-ad-item .ad-button{ background-color:#F25B7C; padding:0.04rem .3rem; border-radius: 0.24rem; float:right; margin-top:.18rem; margin-right:.16rem; }
.CSPmeeting-ad-item .fl img { margin:.15rem .28rem 0 .16rem; width:.44rem; height:.54rem;}
.CSPmeeting-ad-item .logo-title { font-size:.3rem; line-height: 1.2; margin-top:.05rem;}
.CSPmeeting-ad-item { font-size:.22rem;}

/*双屏切换*/
.popup-fullStatus {}
.popup-volume {}
.warp .popup-fullStatus .popup-min-screen .viedoItem,
.warp .popup-fullStatus .popup-volume .viedoItem,
.warp .popup-fullStatus .popup-volume { width:100% !important; height:100% !important;  margin:0; padding:0; }
.warp .popup-fullStatus .popup-min-screen { position: absolute; right:5%; bottom:15%; z-index: 2; width:30% !important; height:30% !important; overflow: hidden; margin:0; padding:0; }
.warp .popup-fullStatus .popup-min-screen .swiper-slide { width:100% !important;}

.warp .popup-fullStatus .popup-volume .swiper-btn-item ,
.warp .popup-fullStatus .popup-min-screen .boxAudio{ display: none;}
.warp .popup-fullStatus .popup-min-screen .logo-watermark { display: none;}

/*水印*/
.logo-watermark { position: absolute; z-index: 100;}
.logo-watermark-item {
    display: inline-block;
    height: .5rem;
    overflow: hidden;
    font-size: .28rem;
    font-weight: normal;
    text-shadow: 0.02rem 0.02rem 0.02rem #292929;
    color: #fff;
    opacity: 0.5;
    cursor: pointer;
    position: relative;
}

.logo-watermark-position-top-left .logo-watermark{ top:0.15rem; left:3%; }
.logo-watermark-position-top-right .logo-watermark{  top:0.15rem; right:3%; }
.logo-watermark-position-bottom-left .logo-watermark{  bottom:0.15rem; left:3%; }
.logo-watermark-position-bottom-right .logo-watermark{ bottom: 0.15rem; right:3%;}
.logo-watermark-position-bottom-right .boxAudio-loading,
.logo-watermark-position-bottom-right .boxAudio { left: .2rem; bottom: 0.3rem; right:auto;  }

.popup-fullStatus .logo-watermark-position-bottom-right .logo-watermark ,
.popup-fullStatus .logo-watermark-position-bottom-left .logo-watermark { bottom:1.05rem; }


.CSPMeeting-popup-fullsize.logo-watermark-position-top-left .logo-watermark{ top:.9rem;}
.CSPMeeting-popup-fullsize.logo-watermark-position-top-right .logo-watermark{ top:.9rem;}
.CSPMeeting-popup-fullsize.logo-watermark-position-bottom-left .logo-watermark{ bottom:.9rem;}
.CSPMeeting-popup-fullsize.logo-watermark-position-bottom-right .logo-watermark{ bottom:.9rem;}
.CSPMeeting-popup-fullsize.logo-watermark-position-bottom-right .boxAudio-loading,
.CSPMeeting-popup-fullsize.logo-watermark-position-bottom-right .boxAudio { left: .2rem; bottom: 1rem; right:auto;  }


/*提示层*/
.layui-layer.layui-layer-hui .layui-layer-content { padding: .24rem .5rem ; font-size:.28rem;}

/**/
.fixed-full-screen-box {
    position: fixed;
    _position: absolute;
    pointer-events: auto;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    _height: expression(document.body.offsetHeight+"px");
    z-index: 19891020;
    background: center rgba(255,255,255,1);
    background-size: 1.12rem 1.92rem;}
.fixed-full-screen-box input{ font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "\5FAE\8F6F\96C5\9ED1", Arial, sans-serif;}
.fixed-full-screen-box .img img { width:2.94rem; height:2.34rem;  }
.fixed-full-screen-logo { text-align: center; padding-top:40%; margin-bottom:40%;}
.fixed-full-screen-main { color:#666; font-size:0.28rem;}
.fixed-full-screen-main .live-end-icon img{ width:1.43rem; height:0.6rem; }

.fixed-full-screen-min-logo { text-align: center; margin:20% 0;}
.fixed-full-screen-min-logo .img img { width:1.2rem; height:1.2rem;}

.fixed-full-screen-min-main { font-size:0.26rem;}
.fixed-full-screen-min-main input { width: 100%; font-size:0.32rem;}
.fixed-full-screen-min-main .fixed-text { background: #F3F6F8; border-radius: 4px; margin-top:.42rem; margin-bottom:.54rem;  border: none;   padding: .20rem .40rem; }
.fixed-full-screen-min-main .fixed-button {background: #167AFE; border-radius: 4px; padding:.2rem .4rem; border:none; color:#fff; }
.fixed-error {  position: relative; top:-0.24rem; left:.4rem; }
.fixed-row { padding:0 10%;}


/*weui*/
.weui-mask {
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .6);
}

.weui-mask_transparent{
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

@keyframes slideUp {
    from {
        transform: translate3d(0, 100%, 0);
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}

.weui-animate-slide-up {
    animation: slideUp ease .3s forwards;
}

@keyframes slideDown {
    from {
        transform: translate3d(0, 0, 0);
    }

    to {
        transform: translate3d(0, 100%, 0);
    }
}

.weui-animate-slide-down {
    animation: slideDown ease .3s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.weui-animate-fade-in {
    animation: fadeIn ease .3s forwards;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.weui-animate-fade-out {
    animation: fadeOut ease .3s forwards;
}

.weui-actionsheet{position:fixed;left:0;bottom:0;-webkit-transform:translateY(100%);transform:translateY(100%);-webkit-backface-visibility:hidden;backface-visibility:hidden;z-index:5000;width:100%;background-color:#efeff4;-webkit-transition:-webkit-transform .3s;transition:-webkit-transform .3s;transition:transform .3s;transition:transform .3s,-webkit-transform .3s}
.weui-actionsheet__title {
    position: relative;
    height: 65px;
    padding: 0 20px;
    line-height: 1.4;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-size: 14px;
    color: #888;
    background: #FCFCFD;

}
.weui-actionsheet__title:before {
    content: " ";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 1px;
    border-bottom: 1px solid #e5e5e5;
    color: #e5e5e5;
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
}
.weui-actionsheet__title-text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.weui-actionsheet__menu{background-color:#fff}
.weui-actionsheet__action{margin-top:.12rem;background-color:#fff}
.weui-actionsheet__cell{position:relative;padding:0.2rem 0;text-align:center;font-size:.36rem;}
.weui-actionsheet__cell:before{content:" ";position:absolute;left:0;top:0;right:0;height:1px;border-top:1px solid #d9d9d9;color:#d9d9d9;-webkit-transform-origin:0 0;transform-origin:0 0;-webkit-transform:scaleY(.5);transform:scaleY(.5)}
.weui-actionsheet__cell:active{background-color:#ececec}
.weui-actionsheet__cell:first-child:before{display:none}
.weui-skin_android .weui-actionsheet{position:fixed;left:50%;top:50%;bottom:auto;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%);width:5.48rem;box-sizing:border-box;-webkit-backface-visibility:hidden;backface-visibility:hidden;background:transparent;-webkit-transition:-webkit-transform .3s;transition:-webkit-transform .3s;transition:transform .3s;transition:transform .3s,-webkit-transform .3s}
.weui-skin_android .weui-actionsheet__action{display:none}.weui-skin_android .weui-actionsheet__menu{border-radius:2px;box-shadow:0 6px 30px 0 rgba(0,0,0,.1)}
.weui-skin_android .weui-actionsheet__cell{padding:.26rem .48rem;font-size:0.32rem;line-height:1.4;text-align:left}
.weui-skin_android .weui-actionsheet__cell:first-child{border-top-left-radius:2px;border-top-right-radius:2px}
.weui-skin_android .weui-actionsheet__cell:last-child{border-bottom-left-radius:2px;border-bottom-right-radius:2px}
.weui-actionsheet_toggle{-webkit-transform:translate(0);transform:translate(0)}

/*放大缩小*/
.pinch-zoom,
.pinch-zoom img{
    width: 100%;
    -webkit-user-drag: none;
}

.pinch-zoom-container { height:100% !important;}
.popup-fullStatus .pinch-zoom-container { height:100% !important; }

.hidden-box {position:relative; }

/*遮挡层*/
.html5ShadePlay {
    position: fixed;
    _position: absolute;
    pointer-events: auto; top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    _height: expression(document.body.offsetHeight+"px");
    z-index: 19891016;
    background:url(../images/icon-html5ShadePlay.png) no-repeat center rgba(0,0,0,0.6) ;
    background-size:1.12rem 1.92rem;
}


@media (orientation: portrait ){
    /*竖屏CSS*/
    .warp .popup-fullStatus .popup-min-screen { height:15% !important;   }
    .details-gallery { padding-top:30%;}
    .details-gallery .gallery-top { height:55%; }
    .details-gallery  .swiper-btn-item { padding:12% 0 0; }
    .layer-hospital-popup .meetingSwiperBox  .swiper-picture { }
    /*竖屏*/
    .popup-fullStatus .popup-volume .boxAudio-loading,
    .popup-fullStatus .popup-volume .boxAudio { right: auto; left: .2rem; bottom: 1.8rem;}

    .video-play-live { min-height:40%; /*background-color:#000;*/ }
    .warp .popup-fullStatus .video-play-live { min-height: 0;}
    .popup-fullStatus .popup-min-screen .boxAudio-loading{ display: none;  }

    .popup-fullStatus ~ .CSPMeeting-bottom,.popup-fullStatus ~ .CSPMeeting-bottom ,
    .CSPMeeting-popup-fullsize .CSPMeeting-bottom, .CSPMeeting-popup-fullsize .CSPMeeting-bottom { bottom:0;}



    /*竖屏全屏录播*/
    .CSPMeeting-popup-fullsize .layer-hospital-popup { height:100% ; overflow: inherit; margin:0; z-index: auto;}
    .CSPMeeting-gallery-live.popup-fullStatus .video-play-live .viedoItem video,
    .CSPMeeting-popup-fullsize .layer-hospital-popup video {  height:auto !important; width:100% !important; margin-top:45% !important;}
    .CSPMeeting-popup-fullsize { padding-top:0;}



}
@media ( orientation: landscape ){
    .swiper-btn-item { display: none;}


    /*横屏CSS*/
    .details-gallery .gallery-top { height:100%; }
    .gallery-top .boxAudio-loading,
    .gallery-top .boxAudio { bottom:1.2rem; }
    .popup-volume .boxAudio-loading,
    .popup-volume .boxAudio { display: none;}
    .popup-min-screen .boxAudio-loading,
    .popup-min-screen .boxAudio { bottom:.1rem;}


    .logo-watermark-position-top-left .logo-watermark{ top:0.9rem; left:3%; }
    .logo-watermark-position-top-right .logo-watermark{  top:0.9rem; right:3%; }
    .logo-watermark-position-bottom-left .logo-watermark{  bottom:0.9rem; left:3%; }
    .logo-watermark-position-bottom-right .logo-watermark{ bottom: 0.9rem; right:3%;}
    .logo-watermark-position-bottom-right .boxAudio-loading,
    .logo-watermark-position-bottom-right .boxAudio { left: .2rem; bottom: 0.3rem; right:auto;  }

    .CSPMeeting-gallery-live .logo-watermark-position-top-left .logo-watermark,
    .CSPMeeting-gallery-live .logo-watermark-position-top-right .logo-watermark{  top:0.1rem;  }


    .CSPMeeting-gallery-live .logo-watermark-position-bottom-left .logo-watermark,
    .CSPMeeting-gallery-live .logo-watermark-position-bottom-right .logo-watermark{ bottom: 0.6rem;}



    /*live 横屏css*/
    .CSPMeeting-gallery-live .gallery-top{ height:100%; }
    .CSPMeeting-gallery-live .gallery-top .swiper-btn-item{ display: none; }
    .CSPMeeting-gallery-live .CSPMeeting-bottom { padding:.1rem 0 .05rem;}
    .CSPMeeting-gallery-live .swiper-btn-item { display: block;}
    .video-play-live { min-height: 0; }

    /*.CSPMeeting-gallery-live .video-play-live { position: absolute; right: 5%; bottom: 15%; z-index: 2; width: 30% !important; height: 30% !important; overflow: hidden; margin: 0; padding: 0;}*/

    .fixed-full-screen-logo {  padding-top:5%; margin-bottom:5%;}
    .fixed-full-screen-min-logo { margin:0.5rem 0; }
    .fixed-full-screen-min-main .fixed-text { margin:.3rem 0;}
    .fixed-error { top:-0.15rem;  }

    .CSPMeeting-bottom, .CSPMeeting-bottom ,
    .CSPMeeting-bottom,  .CSPMeeting-bottom { bottom:0;}

}