<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.medcn.user.dao.AppAttentionDAO" >

    <select id="findAttendPubUserCount" resultType="cn.medcn.user.dto.UserAttendDTO">
        SELECT w.week_count as weekAttendCount,m.month_count as monthAttendCount,t.total_count as totalAttendCount
        FROM (
            SELECT count(id) as total_count,master_id FROM
            t_app_attention where master_id=#{userId} GROUP BY master_id
        ) t LEFT JOIN (
            SELECT count(id) as month_count,master_id FROM
            t_app_attention WHERE date_format(attention_time,'%Y-%m')=date_format(now(),'%Y-%m')
            and master_id=#{userId} GROUP BY master_id
        ) m on t.master_id = m.master_id
        LEFT JOIN (
            SELECT count(id) as week_count,master_id FROM
            t_app_attention WHERE YEARWEEK(date_format(attention_time,'%Y-%m-%d')) =
            YEARWEEK(now()) and master_id=#{userId} GROUP BY master_id
        ) w on m.master_id = w.master_id

    </select>

    <select id="findTotalAttendCount" resultType="java.lang.Integer">
        SELECT count(id) as total_count FROM t_app_attention WHERE master_id=#{userId}
    </select>

    <select id="findTotalCountByPro" resultType="java.lang.Integer">

    </select>

    <select id="findUserDataByCity" resultType="cn.medcn.user.dto.UserDataDetailDTO">
        SELECT a.city as propName,count(a.id) as userCount
        FROM t_app_attention ap LEFT JOIN t_app_user a
        ON ap.slaver_id = a.id
        WHERE ap.master_id =#{userId}
        <if test="province!=null and province!='全国'">
            AND a.province LIKE CONCAT(#{province},'%')
        </if>
        GROUP BY a.city
        ORDER BY userCount DESC
    </select>

    <select id="findUserDataByHos" resultType="cn.medcn.user.dto.UserDataDetailDTO">
        SELECT h.level as propName,count(a.id) as userCount
        FROM t_app_attention ap
        LEFT JOIN t_app_user a ON ap.slaver_id = a.id
        LEFT JOIN t_app_user_detail d ON d.user_id = a.id
        LEFT JOIN t_hospital h ON h.id = d.hos_id
        WHERE ap.master_id=#{userId}
        <if test="province!=null and province!='全国'">
            AND a.province = #{province}
        </if>
        GROUP BY h.level
        ORDER BY userCount DESC
    </select>

    <select id="findUserDataByTitle" resultType="cn.medcn.user.dto.UserDataDetailDTO">
        SELECT d.title as propName,count(d.title) as userCount
        FROM t_app_attention ap
        LEFT JOIN t_app_user a ON ap.slaver_id = a.id
        LEFT JOIN t_app_user_detail d ON d.user_id = a.id
        WHERE ap.master_id=#{userId}
        <if test="province!=null and province!='全国'">
            AND a.province = #{province}
        </if>
        GROUP BY d.title
        ORDER BY userCount DESC
    </select>

    <select id="findUserDataByDept" resultType="cn.medcn.user.dto.UserDataDetailDTO">
        SELECT d.sub_unit_name as propName,count(d.sub_unit_name)as userCount
        FROM t_app_attention ap
        LEFT JOIN t_app_user a ON ap.slaver_id = a.id
        LEFT JOIN t_app_user_detail d ON d.user_id = a.id
        WHERE ap.master_id =#{userId}
        <if test="province!=null and province!='全国'">
            AND a.province = #{province}
        </if>
        GROUP BY d.sub_unit_name
        ORDER BY userCount DESC
    </select>

    <select id="findUserDataByProvince" resultType="cn.medcn.user.dto.UserDataDetailDTO">
        SELECT a.province as propName,count(a.id) as userCount
        FROM t_app_attention ap LEFT JOIN t_app_user a
        ON ap.slaver_id = a.id
        WHERE ap.master_id =#{userId}
        <if test="province!=null and province!='全国'">
            AND a.province LIKE CONCAT(#{province},'%')
        </if>
        GROUP BY a.province
        ORDER BY userCount DESC
    </select>

    <select id="findAttentions" resultType="cn.medcn.user.dto.AppUserSimpleDTO">
        SELECT u.id, u.username FROM t_app_attention a INNER JOIN t_app_user u ON u.id = a.slaver_id AND a.master_id = #{userId}
    </select>


    <select id="findAttentionsByGroupId" resultType="cn.medcn.user.dto.AppUserSimpleDTO">
        SELECT u.id, u.username FROM t_app_user u INNER JOIN t_user_doctor_group g
        on g.doctor_id = u.id AND g.pub_user_id = #{userId} AND g.group_id = #{groupId}
    </select>
</mapper>