<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.medcn.user.dao.AppUnitDAO" >

    <delete id="deleteDetail" parameterType="java.lang.Integer">
        DELETE FROM t_app_user_detail WHERE user_id = #{userId}
    </delete>


    <select id="findUnitAccounts" resultType="cn.medcn.user.dto.UnitAccountDTO">
        SELECT u.*, a.store AS active_store, count(att.id) AS fans FROM t_app_user u LEFT JOIN
        t_active_store a ON a.id = u.id
        LEFT JOIN t_app_attention att ON u.id = att.master_id
        WHERE role_id = 1 AND authed = true
        <if test="rcd!=null">
            AND u.tuijian = #{rcd}
        </if>
        <if test="testFlag!=null">
            AND u.test_flag = #{testFlag}
        </if>
        <if test="keyword!=null">
            AND (
            username like CONCAT('%',#{keyword}, '%') OR
            nickname like CONCAT('%',#{keyword}, '%')
            )
        </if>
        GROUP BY u.id
        ORDER BY regist_date DESC
    </select>

    <insert id="importFans" >
        INSERT INTO t_app_attention(attention_time, slaver_id, master_id)
        SELECT NOW() AS attention_time, u.id AS slaver_id ,#{unitId} AS master_id
        FROM t_app_user u WHERE u.role_id = 2 AND u.test_flag = 1
        AND NOT EXISTS (SELECT id FROM t_app_attention WHERE master_id = #{unitId} AND slaver_id = u.id)
        GROUP BY u.id LIMIT #{fans}
    </insert>
</mapper>