<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.medcn.user.dao.CspPackageDAO" >

    <select id="findUserPackageById" resultType="cn.medcn.user.model.CspPackage">
        SELECT p.id,p.package_cn,p.package_tw,p.package_us,p.limit_time,p.limit_meets,up.package_start, up.package_end,
               up.user_id, ( SELECT count(c.id) from t_audio_course c WHERE c.csp_user_id=#{userId}
			   and c.source_type = 1 and c.deleted != 1  AND c.guide != 1 AND published=1) as usedMeetCount
        FROM t_csp_user_package up
        LEFT JOIN t_csp_package p ON p.id = up.package_id
        WHERE up.user_id = #{userId}
    </select>

    <select id="findCspPackage" resultType="cn.medcn.user.model.CspPackage">
        SELECT * FROM t_csp_package ORDER BY id DESC
    </select>

    <select id="selectNewMoney" resultType="Double">
        SELECT IFNULL(sum(should_pay),0) FROM t_csp_package_order where date(create_time)=curdate()-INTERVAL 1 day
    </select>
</mapper>