<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.medcn.user.dao.CspPackageDAO" >

    <select id="findUserPackageById" resultType="cn.medcn.user.model.CspPackage">
        SELECT p.id,p.package_cn,p.package_tw,p.package_us,p.limit_time,p.limit_meets,count(c.id) as usedMeetCount,
               up.package_start, up.package_end
        FROM t_csp_user_package up
        LEFT JOIN t_csp_package p ON p.id = up.package_id
        LEFT JOIN t_audio_course c on c.csp_user_id = up.user_id
        and c.source_type = 1 and c.deleted != 1 AND c.locked != 1
        WHERE up.user_id = #{userId} GROUP BY c.id
    </select>

</mapper>