<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.medcn.user.dao.CspPackageOrderDAO" >

    <select id="totalMoney" resultType="java.util.Map">
        SELECT currency_type,SUM(should_pay) AS money FROM t_csp_package_order GROUP BY currency_type
    </select>

    <select id="orderCapitalStati" resultType="java.util.Map">
        SELECT DATE(create_time) as createTime,SUM(should_pay) AS money FROM t_csp_package_order WHERE plat_form IN ('alipay_wap','wx_pub_qr','upacp_wap') GROUP BY DATE(create_time)
    </select>

    <select id="getCapitalByDay" resultType="cn.medcn.user.dto.CspOrderPlatFromDTO">
        SELECT DATE(create_time) as create_time,
        SUM(CASE WHEN plat_form='alipay_wap' THEN should_pay END) AS alipay_wap,
        SUM(CASE WHEN plat_form='wx_pub_qr' THEN should_pay END) AS wx_pub_qr,
        SUM(CASE WHEN plat_form='upacp_wap' THEN should_pay END) AS upacp_wap,
        SUM(should_pay) AS money
        FROM t_csp_package_order GROUP BY DATE(create_time)
    </select>

    <select id="selectAbroadAndHomeMoney" resultType="cn.medcn.user.model.CspPackageOrder">
      SELECT currency_type as currencyType,sum(pay_money) AS totalMoney FROM `t_csp_package_order` GROUP BY currency_type
    </select>



    <select id="findOrderListByCurrencyType" resultType="cn.medcn.user.dto.CspPackageOrderDTO">
        SELECT o.trade_id as id,u.nick_name,o.plat_form,o.create_time,o.pay_money as money,o.state as status,o.remark,o.package_type,
        o.package_id
        FROM t_csp_package_order o LEFT JOIN t_csp_user_info u ON o.user_id=u.id
        WHERE
        <if test="type != null">
            o.currency_type=#{type}
        </if>
        <if test="startTime != null and endTime != null">
            AND create_time BETWEEN #{startTime} AND #{endTime}
        </if>
        <if test="tradeId != null">
            o.trade_id=#{tradeId}
        </if>
        ORDER BY create_time DESC
    </select>

    <select id="findOrderSuccessSum" resultType="Integer">
        SELECT sum(pay_money) FROM t_csp_package_order WHERE
        currency_type = #{type}
        <if test="startTime != null and endTime != null and startTime !='' and endTime != ''">
            AND create_time BETWEEN #{startTime} AND #{endTime}
        </if>
        GROUP BY currency_type
    </select>
</mapper>