<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.medcn.user.dao.CspUserInfoDAO" >

    <select id="findBindUserByUniqueId" resultType="cn.medcn.user.model.CspUserInfo">
      SELECT u.*,f.flux FROM t_csp_user_info u
      LEFT JOIN t_csp_bind_info b ON b.user_id = u.id
      LEFT JOIN t_csp_user_flux f ON f.user_id = u.id
      WHERE b.unique_id = #{uniqueId}
    </select>

    <select id="findByLoginName" resultType="cn.medcn.user.model.CspUserInfo">
        SELECT u.*,f.flux FROM t_csp_user_info u
        LEFT JOIN t_csp_user_flux f ON u.id = f.user_id
        WHERE u.mobile = #{username} OR u.email = #{username}
    </select>

    <select id="findCspUserById" resultType="cn.medcn.user.model.CspUserInfo">
        SELECT u.*,f.flux FROM t_csp_user_info u
        LEFT JOIN t_csp_user_flux f ON u.id = f.user_id
        WHERE u.id = #{userId}
    </select>

    <select id="findCSPUserInfo" resultType="cn.medcn.user.dto.CspUserInfoDTO">
        SELECT tu.avatar,tu.email,tu.nick_name,tu.mobile,tu.info,count(tc.id) AS pptCount,
        (SELECT count(ts.id)  FROM t_csp_share ts WHERE ts.user_id = #{userId}) AS shareCount
        FROM t_csp_user_info tu
         LEFT JOIN t_audio_course tc ON tu.id = tc.csp_user_id AND tc.deleted = 0
         WHERE tu.id = #{userId} GROUP BY tc.csp_user_id
    </select>


    <!--t_csp_user_flux_usage的meeting_id是course_id-->
    <select id="findVideoLiveRecord" resultType="cn.medcn.user.dto.VideoLiveRecordDTO">
        SELECT tu.id,tu.expense,tu.expire_time,t.title AS meetName,tu.meeting_id AS courseId,tu.download_count,tl.replay_url FROM  t_csp_user_flux_usage tu
        INNER JOIN t_audio_course t ON t.id = tu.meeting_id
        INNER JOIN t_csp_live tl ON tl.course_id=tu.meeting_id
        WHERE tu.user_id = #{userId} ORDER BY tu.expense_time DESC
    </select>

    <select id="findCspUserList" resultType="cn.medcn.user.model.CspUserInfo">
        SELECT * FROM t_csp_user_info WHERE 1=1
        <if test="abroad != null">
            AND abroad = #{abroad}
        </if>
        <if test="active != null">
            AND active = #{active}
        </if>
        <if test="keyWord != null">
            AND (nick_name like CONCAT(#{keyWord}, '%') OR
            user_name like CONCAT(#{keyWord}, '%') OR
            mobile like CONCAT(#{keyWord}, '%')
            )
        </if>
    </select>

    <select id="selectByUserName" resultType="cn.medcn.user.model.CspUserInfo">
        SELECT * FROM  t_csp_user_info i WHERE 1 = 1
        <if test="_parameter != null">
            AND user_name = #{userName}
        </if>
    </select>

    <select id="findUserList" resultType="cn.medcn.user.model.CspUserInfo">
        SELECT * FROM t_csp_user_info WHERE 1=1
        <if test="userName != null">
            AND user_name LIKE  CONCAT('%',#{userName},'%')
        </if>
    </select>

    <select id="selectRegisterTime" resultType="cn.medcn.user.model.CspUserInfo">
        SELECT * FROM t_csp_user_info i WHERE i.register_time &lt; '2017-12-31 23:59:59'
    </select>

    <select id="selectRegisterCount" resultType="Integer">
        SELECT count(id) FROM t_csp_user_info  WHERE abroad=#{location} and TO_DAYS(NOW())-TO_DAYS(register_time) = 1
    </select>

</mapper>