<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.medcn.user.dao.CspUserInfoDAO" >

    <select id="findBindUserByUniqueId" resultType="cn.medcn.user.model.CspUserInfo">
      SELECT u.*,f.flux FROM t_csp_user_info u
      LEFT JOIN t_csp_bind_info b ON b.user_id = u.id
      LEFT JOIN t_csp_user_flux f ON f.user_id = u.id
      WHERE b.unique_id = #{uniqueId}
    </select>

    <select id="findByLoginName" resultType="cn.medcn.user.model.CspUserInfo">
        SELECT u.*,f.flux FROM t_csp_user_info u
        LEFT JOIN t_csp_user_flux f ON u.id = f.user_id
        WHERE u.mobile = #{username} OR u.email = #{username}
    </select>

    <select id="findCspUserById" resultType="cn.medcn.user.model.CspUserInfo">
        SELECT u.*,f.flux FROM t_csp_user_info u
        LEFT JOIN t_csp_user_flux f ON u.id = f.user_id
        WHERE u.id = #{userId}
    </select>

    <select id="findCSPUserInfo" resultType="cn.medcn.user.dto.CspUserInfoDTO">
        SELECT tu.avatar,tu.email,tu.nick_name,tu.mobile,tu.info,count(tc.id) AS pptCount,
        (SELECT count(ts.id)  FROM t_csp_share ts WHERE ts.user_id = #{userId}) AS shareCount
        FROM t_csp_user_info tu
         LEFT JOIN t_audio_course tc ON tu.id = tc.csp_user_id AND tc.deleted = 0 AND tc.published = 1 AND guide != 1
         WHERE tu.id = #{userId} GROUP BY tc.csp_user_id
    </select>


    <!--t_csp_user_flux_usage的meeting_id是course_id-->
    <select id="findVideoLiveRecord" resultType="cn.medcn.user.dto.VideoLiveRecordDTO">
        SELECT tu.id,tu.expense,tu.expire_time,t.title AS meetName,tu.meeting_id AS courseId,tu.download_count,tl.replay_url FROM  t_csp_user_flux_usage tu
        INNER JOIN t_audio_course t ON t.id = tu.meeting_id
        INNER JOIN t_csp_live tl ON tl.course_id=tu.meeting_id
        WHERE tu.user_id = #{userId} ORDER BY tu.expense_time DESC
    </select>

    <select id="findCspUserList" resultType="cn.medcn.user.dto.CspUserInfoDTO">
        SELECT cui.id as uid,cui.`abroad`,cui.`frozen_reason`,cui.`nick_name`,cui.`remark`,
        cui.`register_time`,cui.`state`,cup.`package_start`,cup.`package_end`,cup.`unlimited`,cui.`active`,
        cup.`package_id`,temp.payTimes,temp.payMoneyCn,temp.payMoneyUs,meet.meets
        FROM t_csp_user_info cui
        LEFT JOIN t_csp_user_package cup
        ON cui.`id` = cup.`user_id`
        LEFT JOIN
        (SELECT user_id,COUNT(user_id) AS payTimes,
        SUM(CASE WHEN currency_type=0 THEN should_pay END) AS payMoneyCN,
        SUM(CASE WHEN currency_type=1 THEN should_pay END) AS payMoneyUs
        FROM `t_csp_package_order` WHERE state = 1 GROUP BY user_id) temp
        ON temp.user_id = cui.id
        LEFT JOIN
        (SELECT csp_user_id,COUNT(csp_user_id) AS meets FROM  `t_audio_course` WHERE source_type = 1 AND published = 1 AND deleted != 1 GROUP BY csp_user_id) meet
        ON meet.csp_user_id=cui.`id`
        WHERE 1=1
        <if test="abroad != null">
            AND cui.abroad = #{abroad}
        </if>
        <if test="active != null">
            AND cui.active = #{active}
        </if>
        <if test="keyWord != null">
            AND (cui.nick_name like CONCAT(#{keyWord}, '%') OR
            cui.user_name like CONCAT(#{keyWord}, '%') OR
            cui.mobile like CONCAT(#{keyWord}, '%')
            )
        </if>
    </select>

    <select id="selectByUserName" resultType="cn.medcn.user.model.CspUserInfo">
        SELECT * FROM  t_csp_user_info i WHERE 1 = 1
        <if test="_parameter != null">
            AND user_name = #{userName}
        </if>
    </select>

    <select id="findUserList" resultType="cn.medcn.user.model.CspUserInfo">
        SELECT * FROM t_csp_user_info WHERE 1=1
        <if test="userName != null">
            AND user_name LIKE  CONCAT('%',#{userName},'%')
        </if>
    </select>

    <select id="selectByMobile" resultType="cn.medcn.user.model.CspUserInfo">
        SELECT * FROM  t_csp_user_info i WHERE 1 = 1
        <if test="_parameter != null">
            AND mobile = #{mobile}
        </if>
    </select>

    <select id="selectRegisterCount" resultType="Integer">
        SELECT count(id) FROM t_csp_user_info  WHERE abroad=#{location} and TO_DAYS(NOW())-TO_DAYS(register_time) = 1
    </select>

    <select id="selectByEmail" resultType="cn.medcn.user.model.CspUserInfo">
        SELECT * FROM  t_csp_user_info i WHERE 1 = 1
        <if test="_parameter != null">
            AND email = #{userName}
        </if>
    </select>

    <select id="selectNewUser" resultType="Integer">
       select count(id) from t_csp_user_info
        where register_time
        between curdate()-INTERVAL 1 day  and CURDATE() and abroad = #{location}
    </select>

    <select id="selectAllUserCount" resultType="Integer">
        select count(id) from t_csp_user_info WHERE abroad = #{location}
    </select>

    <select id="findNewlyRegisterList" resultType="cn.medcn.user.model.ReportRegister">
      SELECT
      sum(weixin_count) AS weiXinCount,sum(weibo_count) AS weiBoCount,sum(facebook_count) AS facebookCount,
        sum(twitter_count) AS twitterCount,sum(yaya_count) AS yaYaCount, sum(mobile_count) AS mobileCount,
        sum(email_count) AS emailCount,
          <if test="grain == 0">
              date_format(register_time,'%Y-%m-%d')as groupDate
          </if>
        <if test="grain == 1">
            date_format(register_time,'%Y-%u')as groupDate
        </if>
        <if test="grain == 2">
            date_format(register_time,'%Y-%m')as groupDate
        </if>
        <if test="grain == 3">
            CONCAT(YEAR(register_time),'_',QUARTER(register_time),'Q') as groupDate
        </if>
        <if test="grain == 4">
            date_format(register_time,'%Y')as groupDate
        </if>
        FROM t_report_register WHERE abroad=#{location} AND (register_time BETWEEN #{startTime} AND #{endTime})
        GROUP BY groupDate order by register_time
    </select>

    <select id="selectByProvince" resultType="Integer">
        SELECT count(*) FROM t_csp_user_info WHERE province = #{name}
    </select>

    <select id="findNewDayMoney" resultType="cn.medcn.user.dto.CspUserInfoDTO">
        SELECT
	      i.id AS uid,i.nick_name, p.package_id,i.register_time,
	      p.package_start,
          p.package_end,
          p.source_type,
          temp.payMoneyUs,
          temp.create_time
        FROM
	      t_csp_user_package p
        LEFT JOIN t_csp_user_info i ON i.id = p.user_id
        LEFT JOIN (
	      SELECT
		user_id,COUNT(user_id) AS payTimes,create_time,
		SUM(CASE WHEN currency_type = 1 THEN should_pay END) AS payMoneyUs
	      FROM `t_csp_package_order` WHERE state = 1
            GROUP BY user_id) temp ON i.id = temp.user_id
        WHERE i.abroad = 1
          AND temp.create_time BETWEEN curdate() - INTERVAL 1 DAY AND CURDATE()
    </select>

</mapper>