<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.medcn.user.dao.CspUserPackageDAO" >
    <select id="findUserPackages" resultType="cn.medcn.user.model.CspUserPackage">
        SELECT * from t_csp_user_package where package_id >1
        and DATE_FORMAT(package_end, '%Y-%m-%d') &lt;=  CURDATE();
    </select>

    <select id="selectPremiumEdition" resultType="Integer">
        SELECT count(*) FROM t_csp_user_package p LEFT JOIN t_csp_user_info i ON p.package_id = 2 AND i.abroad = 0 where p.user_id = i.id
    </select>

    <select id="selectStandardEditionByUs" resultType="Integer">
        SELECT count(*) FROM t_csp_user_package p LEFT JOIN t_csp_user_info i ON p.package_id = 2 AND i.abroad = 1 where p.user_id = i.id
    </select>

    <select id="selectPremiumEditionByUs" resultType="Integer">
        SELECT count(*) FROM t_csp_user_package p LEFT JOIN t_csp_user_info i ON p.package_id = 2 AND i.abroad = 1 where p.user_id = i.id
    </select>

    <select id="selectProfessionalEdition" resultType="Integer">
    SELECT count(*) FROM t_csp_user_package p LEFT JOIN t_csp_user_info i ON p.package_id = 3 AND i.abroad = 0 where p.user_id = i.id
    </select>

    <select id="selectProfessionalEditionByUs" resultType="Integer">
        SELECT count(*) FROM t_csp_user_package p LEFT JOIN t_csp_user_info i ON p.package_id = 3 AND i.abroad = 1 where p.user_id = i.id
    </select>

    <select id="selectStandardEdition" resultType="Integer">
        SELECT count(*) FROM t_csp_user_package p LEFT JOIN t_csp_user_info i ON p.package_id = 1 AND i.abroad = 0 where p.user_id = i.id
    </select>
</mapper>