<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.medcn.user.dao.DepartmentDAO" >

    <select id="findAllCategory" resultType="java.lang.String">
        SELECT category from t_department GROUP BY category ORDER BY count(category) DESC
    </select>

    <select id="findAlldepartment" resultType="java.lang.String">
        SELECT d.name from t_department d GROUP BY d.name ORDER BY d.name DESC
    </select>
</mapper>