
.audiojs { margin: 15px 0px 10px; }
h2 { font-family: 'bpreplay', sans-serif; font-weight: normal; font-size: 24px; margin-bottom: 10px; line-height: 1.6; }

.download { background: url('../images/divider.png') top center no-repeat, url('../images/divider.png') bottom center no-repeat; margin: 30px 0px; padding: 20px 0px; text-align: center; }
.download a em { color: rgba(255, 255, 255, 0.8); font-style: normal; }
.download a em:before { content: '⬇ '; font-size: 0.8em; padding: 0px 4px 0px 0px; }
.download a { display: block; color: #f6f6f0; width: 190px; margin: 5px auto; padding: 8px 2px 8px 0px; font-size: 14px; border-bottom: 0px; }

.audiojs audio { position: absolute; left: -1px; top:0px; z-index:-1; }
.audiojs { width: 750px; height: 36px; background: #fff; overflow: hidden; font-family: monospace; font-size:
12px; }
.audiojs .play-pause { width: 25px; height: 25px; padding: 0px 6px; margin:7px 4px 0; float: left; overflow:
hidden; display:none; border-right: 1px solid #e3e3e3; }
.audiojs p { display: none; width: 25px; height: 25px; margin: 0px; cursor: pointer; }
.audiojs .play { display: block; }
.audiojs .scrubber { position: relative; float: left; width: 620px; background:#fff url(../images/audio-scrubber.png) 0 10px repeat-x ; height: 24px; margin:5px
16px; border-top: 1px solid #fff; border-left: 0px; border-bottom: 0px;  }
.audiojs .progress { position: absolute; top: 10px; left: 0px; height: 6px; width: 0px; background: #3fa9f5;
z-index: 1; }
.audiojs .progressDot { cursor:pointer; position:absolute; top:-6px; right:-8px; height: 16px; width: 16px;
background-color:
#3fa9f5; border-radius: 8px;
pointer-events: all;
box-shadow: 0px 1px 1px 0px
rgba(0, 0, 0, 0.32);}
.audiojs .loaded { position: absolute; top: 10px; left: 0px; height: 6px; width: 0px; background: #d8d8d8; }
.audiojs .time { /*float: left;*/ height: 36px; line-height: 36px; margin: 0px 0px 0px 6px; padding: 0px 12px
0px 6px; border-left: 1px solid #fff; color: #55606E;  user-select:none; -ms-user-select:none;
-moz-user-select:none; -webkit-user-select:none; }
.audiojs .time em { padding: 0px 2px 0px 0px; color: #86888b; font-style: normal; }
.audiojs .time strong { padding: 0px 0px 0px 2px; font-weight: normal; }
.audiojs .error-message { float: left; display: none; margin: 0px 10px; height: 36px; width: 400px; overflow: hidden; line-height: 36px; white-space: nowrap; color: #fff;
text-overflow: ellipsis; -o-text-overflow: ellipsis; -icab-text-overflow: ellipsis; -khtml-text-overflow: ellipsis; -moz-text-overflow: ellipsis; -webkit-text-overflow: ellipsis; }
.audiojs .error-message a { color: #eee; text-decoration: none; padding-bottom: 1px; border-bottom: 1px solid #999; white-space: wrap; }

.audiojs .play { background: url(../images/icon-audio-play.png) center center no-repeat; }
.audiojs .loading {  width: 18px; height: 18px; background-image: url(../images/icon-audio-loading.png); background-size: cover; background-repeat: no-repeat; animation: spin 0.4s linear infinite;}
.audiojs .error { background: url(../images/icon-audio-error.png) center center no-repeat; }
.audiojs .pause { background: url(../images/icon-audio-stop.png) center center no-repeat; }

/*@media only screen and (-webkit-min-device-pixel-ratio: 2),*/
    /*only screen and (min--moz-device-pixel-ratio: 2),*/
    /*only screen and (min-moz-device-pixel-ratio: 2),*/
    /*only screen and (-o-min-device-pixel-ratio: 2/1),*/
    /*only screen and (min-device-pixel-ratio: 2) {*/
    /*.audiojs .play, .audiojs .loading, .audiojs .error, .audiojs .pause {*/
    /*background-image: url("$2");*/
    /*-webkit-background-size: 30px 120px;*/
    /*-moz-background-size: 30px 120px;*/
    /*-o-background-size: 30px 120px;*/
    /*background-size: 30px 120px;*/
    /*}*/
/*}*/

.playing .play, .playing .loading, .playing .error { display: none; }
.playing .pause { display: block; }

.loading .play, .loading .pause, .loading .error { display: none; }
.loading .loading { display: block; }

.error .time, .error .play, .error .pause, .error .scrubber, .error .loading { display: none; }
.error .error { display: block; }
.error .play-pause p { cursor: auto; }
.error .error-message { display: block; }

@keyframes spin {
    from {
        transform: rotateZ(0);
    }
    to {
        transform: rotateZ(1turn);
    }
}