<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.medcn.csp.admin.dao.MessageDao" >
    <select id="findMessageListByPage" resultType="cn.medcn.csp.admin.model.CspAdminMessage">
       SELECT tcam.* , csu.id, csu.user_name
       FROM
       t_csp_admin_message tcam
       LEFT JOIN
       t_csp_sys_user csu
       ON
       tcam.user_id = csu.id
       ORDER BY
       tcam.creat_time DESC
    </select>
</mapper>