/*��������*/
.yaos-intr{
	background-image:url(../images/intr-bg3.png);
	height:600px;
	width:100%;
	overflow: visible;
	
}
 .yaos-content{
    float: none;
	height: 600px;
	background-image: url(../images/intr-phones-3.png);
	background-repeat: no-repeat;
	background-position: left bottom;

}
.yaos{
	float: none;
	width: 420px;
	height: 88px;
	margin-left:570px;
	padding-top:130px;
	color:#fff;
}
.yaos-intr .yaos img{
	float: left;
}
.yaos .yaospt {
	float: left;
	height: 88px;
	font-size: 28px;
	font-weight: bold;
	padding-left:30px;
}
.yaospt p{
	line-height:46px;
}

.yaos .yaerw{
    float:left;
    width:420px;
	height: 129px;
	margin-top: 70px;
	/*ɾ��background-image: url(../images/yao-erweima.png);*/
	background-repeat: no-repeat;
	background-position: left center;
}

/*20141107����*/
.yaerw .yaosdown{
    float:left;
}
.yaerw img{
    float: right;
	margin-left:50px;
}



/*�������ذ�ť*/
.yaerw p{
	margin-bottom: 5px;
}
.yaos-azxz,.yaos-iosxz{
	height: 67px;
	line-height:66px;
	width: 220px;
	background-position: center center;
	color:#FFFFFF;
	font-size:24px;
	border:none;
	vertical-align:middle;
}

.yaos-azxz {
	background: url(../images/yis-android.png) repeat;
	font-family: "Microsoft Yahei",Arial;
	font-size: 22px;

}
.yaos-iosxz{
	background: url(../images/yis-ios.png) repeat;
	font-family: "Microsoft Yahei",Arial;
	font-size: 22px;

}

/*�������*/
.function-intr {
	background-color: #f5f6f6;
	float: left;
	width: 100%;
}
.function-intr-w {
	background-color: #ffffff;
	float: left;
	width: 100%;
}
.yaos-intr-bj, .yaos-intr-bj-2, .yaos-intr-bj-3{
	background-repeat: no-repeat;
	background-position: right center;
	height:620px;
}
.yaos-intr-bj-3 {	
	background-image: url(../images/yaos-intr-3.png);
}
.yaos-intr-bj-2 {
	background-image: url(../images/yaos-intr-2.png);
}
.yaos-intr-bj {	
	background-image: url(../images/yaos-intr-1.png);	
}
.yaos-intr-bj .yaos-intr-wz{
	width:330px;
	float: left;
	padding-left: 115px;
	text-align:left;
	padding-top: 250px;
}
.yaos-intr-bj-2 .yaos-intr-wz{
	width:300px;
	float:right;
	padding-right:30px;
	text-align:right;
	padding-top: 230px;
}
.yaos-intr-bj-3 .yaos-intr-wz{
	width:300px;
	padding-left:115px;
	text-align:left;
	padding-top: 230px;
}
.yaos-intr-wz {
	color: #2a8fdf;
	font-size: 20px;
	
}
.yaos-intr-wz h1 {
	font-size: 18px;
	color: #666666;
	font-weight: normal;
}

.yaos-intr-wz span{
	font-size: 44px;
}

/*�����ɫ*/
.rjts {
	float: left;
	width: 100%;
	background-color:#f5f6f6;
}
.title{
	padding-top:48px;
	color: #2a8fdf;
	font-size: 44px;
	margin-right: auto;
	padding-left:34px;
	margin-left: auto;
	width:990px;
}
.rjts .tese {
	margin-top: 40px;
	height: 130px;
}

/*�����ɫ���ֵ�ͳһ��ʽ*/
.ts{	
	float:left;
	height: 106px;
	width: 278px;
	padding-right: 28px;
	padding-left: 28px;
}
.ts img{	
	float:left;
	top:0px;
}
.ts h3{
	padding-left:84px;
}
.ts span {
	font-size: 20px;
	color: #333333;
}
.ts h3{
	color:#666666;
	font-size:14px;
	line-height:25px;
	font-weight: normal;
}
/*����*/
.zg-content .yaoshi a{ color:#1a1a1a;	}
.zg-content .normal a,.zg-content .yishi a{
	color:#4c4c4c;
}
.zg-content .yaoshi{
color:#1a1a1a;
background-image:url(../images/zg-title.png);
}
