* {
    box-sizing: border-box;
}

*:before, *:after {
    box-sizing: border-box;
}

*, *:before, *:after {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    border: 0 none;
    font-size: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
    vertical-align: baseline;

    max-height:100%
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

em, strong {
    font-style: normal;
}

ul, ol, li {
    list-style: none;
}

body {
    font-family: -apple-system-font,"Microsoft YaHei","Helvetica Neue",Helvetica Neue,"PingFang SC","Hiragino Sans GB","\5FAE\8F6F\96C5\9ED1",Arial,sans-serif;
    line-height: 1.7;
    color: #333;
    font-size: 0.24rem;
}

a {
    text-decoration: none;
}
:focus { outline: 0; }

textarea,input { font-family: -apple-system-font,"Microsoft YaHei","Helvetica Neue",Helvetica Neue,"PingFang SC","Hiragino Sans GB","\5FAE\8F6F\96C5\9ED1",Arial,sans-serif; }
button { cursor: pointer; font-family:  -apple-system-font,"Microsoft YaHei","Helvetica Neue",Helvetica Neue,"PingFang SC","Hiragino Sans GB","\5FAE\8F6F\96C5\9ED1",Arial,sans-serif; }

.clearfix:before,.clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }
* html .clearfix { zoom: 1; }
* + html .clearfix { zoom: 1; }

/*placeholder 颜色*/
input::-webkit-input-placeholder { /* WebKit browsers */ color:    #999999; }
input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */ color:    #999999; }
input::-moz-placeholder { /* Mozilla Firefox 19+ */ color:    #999999; }
input:-ms-input-placeholder { /* Internet Explorer 10+ */ color:    #999999; }

/*flex*/
.flex {  display: -webkit-box; display: -webkit-flex; display: flex;}
.flex-item {   -webkit-box-flex: 1; -webkit-flex: 1; flex: 1;}

/*移除IOS 默认样式*/
input,select{
    -webkit-appearance:none;
    outline:none
}

/*解决IOS 弹出 IFRAME层不滚动BUG*/
/*.scroll-layer-for-ios {*/
    /*-webkit-overflow-scrolling: touch ;*/
    /*overflow-y: scroll ;*/
/*}*/

.subPage { margin-bottom:1.2rem;}


