<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.medcn.weixin.dao.WXMenuDAO" >

    <select id="findAll" resultType="cn.medcn.weixin.model.WXMenu">
        select * from t_wx_menu ;
    </select>
</mapper>