/*

    v2 版本新首页样式

*/



html { background-repeat:repeat; *overflow-x:hidden; font-size:62.5%; background-color:#fff; }
body { font-family:"Microsoft YaHei","微软雅黑",Arial,sans-serif; color:#878787; line-height:1.8; font-size:14px;  /*没做手机端响应式前使用*/ min-width: 1200px; }
#wrapper { text-align: left;}
a { color:#666; text-decoration:none; }
a:hover { color:#0f71d2; text-decoration:none; }

input:focus{border:1px solid #0f71d2;}

.fz12 { font-size:12px;}
.muted { margin:0 5px;}


/*重用按钮&背景&颜色*/
.button { display: inline-block; }
.button-color { background-color:#0f71d2; color:#fff; cursor: pointer; }
.button-color:hover { background-color:#2284ea; color:#fff;}
.buttonGreen { padding:5px 15px; border:1px solid #6fb3a2; border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius:10px;  color:#6fb3a2; background-color:#fff; font-size:14px;}
.buttonGreen:hover { background-color:#6fb3a2; color:#fff;}
.color-green1 { color:#1FBBA6; }
.color-blue {  color:#0f71d2;}
a.color-blue:hover { text-decoration: underline;}
.color-gray { color:#999;}

.bg-lightBlue { background-color:#eff0fc;}
.bg-joinEmail { background:#f4f7ff url(../../images/upload/_join_bg_3.png) repeat-x;}

.icon-back { background:url(../../images/v2/icon-back.png) no-repeat center left; padding-left:40px; }



/*弹出层*/
.mask-wrap, .mask-wrap-1,  .mask-wrap-2 { display: none; background: rgba(0, 0, 0, 0.5); filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#7F000000,endcolorstr=#7F000000)\9; width:100%;height:100%;position:fixed;left:0;top:0;z-index:999; }
.dis-table { display: table; }
.m-layer-bd{width:950px;height:600px;background:#fff;position:absolute;left:50%;top:50%;margin-left:-475px;margin-top:-300px; border-radius: 5px; }
/*.mask-wrap-re .m-layer-bd { width:950px; }*/
.m-layer-bd-1 { width:300px; height:600px; text-align: center; }
.m-layer-bd-1 { display: table-cell; vertical-align: middle; }
.m-layer-bd-2 { display: table-cell; vertical-align: middle; position: relative; background:#fff; width: 700px; height: auto; }
.mask-distb { display: table; width: 100%; height: 100%; }
.dis-tbcell { display: table-cell; vertical-align: middle; }
.distb-box { display: none; background: #fff; width: 700px; margin: 0 auto;}
.distb-box-min { width:400px; }
.distb-box-max { width:950px;}
.distb-box-iframe { width:940px; height:560px; overflow: hidden; }
.m-tb-div { display: inline-block; vertical-align: middle; border-radius: 5px; overflow: hidden; }
.mask-hd { position: relative; height: 25px; border-bottom: #ccc 1px solid; padding: 20px 20px 10px 20px; }
.close-btn, .close-btn-1, .close-btn-fx { position: absolute; right: 10px; top: 10px; cursor: pointer; }
.mask-le { float: left; margin-right: 30px; font-size: 16px; }
.mask-le img { display: inline-block; vertical-align: middle; margin: -3px 5px 0 0;}
.mask-hd .cur { font-weight: 700; }
.table-box-div { /*height: 398px;*/ }
.table-box-3 { width: 100%; }
.table-box-3 thead { border: #ccc 1px solid; height: 40px; line-height: 40px; }
.table-box-3 thead td { background: #f2f2f2; font-weight: bold; }
.table-box-3 tbody td { border-bottom: #ccc 1px solid; height: 50px; padding:5px; }
.tb3-td-1 { width: 44%; padding-left: 10px; }
.tb3-td-1 i { padding-left: 10px; }
.tb3-td-2 { width: 30%; }
.tb3-td-3 { width: 25%; }
.tb-list-1 { padding-left: 15px; }
.tb-list-1 input,.tb-list-1 img { display: inline-block; vertical-align: middle; margin-right: 5px; }
.tb-bj-box button { display: inline-block;
    vertical-align: middle; border: #797979 1px solid; border-radius: 5px; padding: 5px 15px; margin-right: 10px; }
.mask-share-box { padding: 40px 0 20px; text-align: center; border-bottom: #ccc 1px solid; }
.mask-share-box .top-txt { font-size: 18px; }
.mask-share-box .c-1 { color: #690; }
.mask-share-box .c-2 { color: #fd7a4e; }
.mask-share-box .c-3 { color: #36f; margin: 0 5px; }
.mask-share-box .c-1,.mask-share-box .c-2,.mask-share-box .c-3 { font-weight: 700; }
.mask-share-box p { margin-bottom: 10px; }
.fx-mask-box { padding:20px; }
.fx-mask-box-max { padding:40px;}
.fx-mask-box .row { margin:0;}
.fx-mask-box-border { border-bottom:1px solid #ccc; }
.fx-mask-box .td-title { margin-right:20px; line-height: 32px;}
.fx-mask-box .p-table { margin-bottom:10px;}
.fx-mask-box .p-table  .oh { overflow:hidden; display: block; }
.fx-faq-box dd{ border-bottom:1px solid #E9E9E9; color:#909090; margin: 10px 0 5px; padding-bottom:5px; }
.fx-mask-box .page-box { padding:20px 0 0;}
.fx-li-box { }
.fx-li-box li { padding:10px 15px; border:1px solid #ccc; border-width:0 1px 1px 1px; font-size:16px;}
.fx-li-box li .tb-icon{ margin-right:20px; }


.p-btm-1 { padding-bottom: 15px; }
.font-size-1 { font-size: 16px; }
.po-relative { position: relative; }
.po-relative .close-btn-fx { top: 2px; right: -15px; }
.text-input{ line-height:30px; height:30px; border:1px solid #ccc; min-width:200px; padding:2px;}
.text-textarea { border:1px solid #ccc; width:100%; padding:10px 0; }
.text-textarea-col2 { border:1px solid #ccc; width:85%; padding:10px; }

/*表单部分*/
.formrow p { line-height: 1.6; margin-bottom:10px; }
.formrow .formRowTitle { border-bottom:1px solid #E4E4E4; padding-bottom:10px;}
.none { display:none;}
.formrow {margin-bottom:20px; font-size:16px;}
.formrow .formTitle { float:left; display: block; width: 100px; margin-right: 15px; line-height: 40px; text-align: right; font-size:14px;}
.formrow .formAutoHeight { line-height: 1.4; }
.formMargin-top { padding-top:35px; }
.formrow .formControls { overflow: hidden;}
.formrow .textInput{ border:1px solid #ccc; padding:10px 2%;  width:96%; }
.formrow .textInput:focus{border:1px solid #0f71d2;}
.formrow img { position: relative; top:5px;}
.formrow .yzm { margin:0 10px;}
.formrow .getCodeButton {display: inline-block; width: 40%; padding:12px 0; background:#1172d2; border: 0;  font-size:14px; color:#fff;  text-align: center;}
.formrow .getCodeButton-current {background-color:#b2b2b2; }
.formrow .getCodeButton:hover { color:#fff; background-color:#0876e2; cursor: pointer;}
.formrow .textInput-min { width:52%;}
.formrow .textSelect {padding:11px 2%; border:1px solid #ccc; color:#999;}
.formrow .textSelect-a { display:inline-block; width:37%; }
.formrow .textSelect-a .textSelect-arrow {  position: absolute; right:1px; right:3px\9; top:1px; display: block; z-index: 2; width:22px; height:96%; height:94%\9; background:#fff url(../../images/v2/icon-arrowDown2.png) no-repeat center center; }
.formrow .textSelect-a select { appearance:normal;
    -moz-appearance:normal; /* Firefox */
    -webkit-appearance:normal; /* Safari 和 Chrome */}

.formrow .textSelect-min { width:100%;}
.formrow .textSelect option{color:#000;}
.formrow .formText { line-height: 40px;}
.formrow .mintitle { padding:2px; background:#172a54; font-size:12px; color:#fff;}
.reg-tabs {}
.reg-tabs { margin-bottom:20px;}
.reg-tabs a { float:left; border:1px solid #999999; border-width:1px 0 1px 1px; padding:5px 40px;  cursor: pointer;  }
.reg-tabs .reg-tabs-menu-rows { padding:5px 30px;}
.reg-tabs .first { border-radius: 5px 0 0 5px ; }
.reg-tabs .last { border-radius: 0 5px 5px  0; border-right:1px solid #999;}
.reg-tabs a:hover {background-color:#F2F2F2;}
a.reg-tabs-cur,
a.reg-tabs-cur:hover{ background-color:#0099ff; color:#fff; border-color:#0099ff;}

.formPriceList { font-size:14px; margin:15px 0 20px;}
.v2-helpPage-item .formPriceList { padding:20px 0 0 100px;}
.formPriceList li{ float:left; margin-right:19px; }
.formPriceList .last{ margin-right:0; }
.formPriceList li a{ display: inline-block; background-color: #1FBBA6; padding:15px 20px; color:#fff ; border-radius: 5px;min-width:124px; }
.v2-helpPage-item .formPriceList li h4,
.v2-helpPage-item .formPriceList li p { color:#fff; font-size:14px;}
.formPriceList li a:hover { background-color:#009966;}
.formPriceList .cur a,
.formPriceList .cur a:hover{ background:url(../../images/v2/icon_priceCurrent.png)  #FF9900 no-repeat 115px 16px;}
.formPriceList .title { padding:5px 0 10px;}
.formPriceList .title-maxHeight { height:42px;}
.formPriceList .price { padding:25px 0; font-weight: bold;}
.formPriceList .price em { font-size:28px; margin-right:5px;}
.formPriceList .price-maxHeight{line-height: 60px;}
.totalPrice em{ font-style:normal;}
.totalPrice strong{ color:#FF0000;}
.totalPrice .color-green { color: #1FBBA6; }
.totalPrice .index-reg-button{ padding:10px 20px; margin-left:20px; /*background:url(../images/icon_zhifubao.png) 15px 7px no-repeat;*/ background-color:#0099FF; border-radius: 5px; font-family: å¾®è½¯é›…é»‘; font-weight: 700; font-size:16px;}
.totalPrice .index-reg-button:hover { background-color:#0066FF; }

.formPriceTable { text-align: center; border:1px solid #ccc; border-width:1px 0 0 1px;}
.formPriceTable .col1{ width:16%; }
.formPriceTable .col2{ width:30%; }
.formPriceTable .col3{ width:20%; }
.formPriceTable .col4{ width:25%; }
.formPriceTable td,
.formPriceTable th{ padding:10px 0; border:1px solid #ccc;   border-width: 0 1px 1px 0px;}

.formPriceTable .rowTitle { background-color:#e4e4e4;}
.formPriceTable thead .rowTitle { background-color:#CCCCCC;}
.formPriceTable thead .rowTitle { background-color:#CCCCCC;}

.formPriceTable thead .hot { background-color:#FF8600;}
.formPriceTable thead th { background-color:#01ADB7; color:#fff;}

.formInfoTable {border:1px solid #e2e2e2; border-width:1px 0 0 1px; }
.formInfoTable td,
.formInfoTable th{ padding:20px 0; border:1px solid #e2e2e2;   border-width: 0 1px 1px 0px;}

.formGreenHeadStyle { border:0;}
.formGreenHeadStyle thead th{ background-color:#edfaf7; color:#6fb3a2; border-bottom:1px solid #eee;  }
.formGreenHeadStyle td,
.formGreenHeadStyle th { padding:12px 0; border-width:0 0 1px 0; border-color:#eee; text-align: left; color:#424242;}

.selectForm { padding:10px 5px; font-size:14px; border-radius: 5px; border: 1px solid #ccc;}
.textareaForm { padding:10px 15px; border-radius: 5px; border: 1px solid #ccc; width:300px; }
.imageUploadForm img{ float:left; margin-right:20px; border:1px solid #999; top:0;}
.imageUploadForm .imageUploadForm-text { padding-top:40px; font-size:14px; color:#999; }

.formIconTips { position: absolute; right:5px; top:0; display:block; width:20px; height:20px; background:url(../../images/v2/icon-true.png) no-repeat; }
.errorIcon {background:url(../../images/v2/icon-error.png) no-repeat;}
.errorText {position: absolute; left:2%; font-size:12px; color:#ff5655; display: block; top:32px;}


/* 各个模块
------------------------------------------------------------------------------------------ */

/****
    TOP
*****/
.v2-top { width:100%; position:relative; z-index:998; background:#fff url(../../images/v2/top-bg.jpg) repeat-x top left; height:100px; box-shadow: 0px 2px 0px rgba(0,0,0,0.05); }
.v2-top{background-color:rgba(255,255,255,0.98); *background-color:#1266be;}


.v2-subPage-title-left h3{ padding:5px 0 15px; font-size:24px; font-weight: normal; color:#3a84d0;  }



.v2-top-item { float:right;}
/*导航*/
.v2-header1 .top-main {}
.v2-header1 .top-main .page-width { position:relative; }
.v2-header1 .top-main-content-section { margin-top:8px; }
.v2-header1 .top-main-content {}
.v2-header1 .top-widget { float:left; width:150px; padding-top:30px;}
.v2-header1 .top-widget .button { padding:6px 20px; }
.v2-header1 .logo { float:left; margin:15px 0 0; position:relative; margin-right:40px; }
.v2-header1 .logo a { display:block; }

.v2-header1 .nav,
.v2-header1 .v2-nav { float:left;}
.v2-header1 .main-nav { _float:left; }
.v2-header1 .main-nav .sf-menu a, .v2-header1 .main-nav .sf-menu a:visited { color:#1d1815; }
.v2-header1 .main-nav .sf-menu a:hover { text-decoration:none; color:#0f71d2; }
.v2-header1 .main-nav .sf-menu a { border:none; padding-top:0; padding-bottom:0; display:block; line-height:100px; font-size:14px; font-size:1.4rem; }
.v2-header1 .main-nav .sf-menu a strong { font-weight:normal;  }
.v2-header1 .main-nav .sf-menu .current a strong  {  border-bottom: 4px solid #0f71d2; padding-bottom: 36px;   }

#wrapper .v2-header1 .phonePage-main-nav .first-level{ font-size:18px; color:#333333; background:url(../../images/v2/phonePage-nav-line.png) no-repeat center right; padding:0 40px;}
#wrapper .v2-header1 .phonePage-main-nav .first-level:hover,
#wrapper .v2-header1 .phonePage-main-nav .current .first-level { color:#0f71d2;}
#wrapper .v2-header1 .phonePage-main-nav .sf-menu li { padding:0px; margin-right:0;}
#wrapper .v2-header1 .phonePage-main-nav .last { background:none; }
    /* 一级 */
.v2-header1 .main-nav .sf-menu li { margin-right:30px; background-color:transparent;}
.v2-header1 .main-nav .sf-menu li:hover,
.v2-header1 .main-nav .sf-menu li.sfHover,
.v2-header1 .main-nav .sf-menu li.sfHover > a,
.v2-header1 .main-nav .sf-menu a:focus,
.v2-header1 .main-nav .sf-menu a:hover,
.v2-header1 .main-nav .sf-menu a:active { background-color:transparent; color:#0f71d2; }
.v2-header1 .main-nav .sf-menu li.current, .v2-header1 .main-nav .sf-menu li.current .first-level, .v2-header1 .main-nav .sf-menu li.current .first-level:visited { background-color:transparent; color:#0f71d2;  }
.v2-header1 .main-nav .first-level { padding-left:5px; padding-right:5px;  }
.v2-header1 .main-nav .first-level .sf-sub-indicator { top:3em; }
.v2-header1 .main-nav .sf-menu li i {
    display:none; width:60px; _width:expression( (this.parentElement.clientWidth) +'px'); height:1px; overflow:hidden; background-color:#b3b3b3; position:absolute; bottom:0px; left:50%; margin-left:-30px;
    transition: all 0.3s ease 0s;
}
.v2-header1 .main-nav .sf-menu li:hover i, .v2-header1 .main-nav .sf-menu .nav-hover i, .v2-header1 .main-nav .sf-menu .current i, .v2-header1 .main-nav .sf-menu .sfHover i {  transition: all 0.3s ease 0s; display:none;}



    /* 二级以下 */
.v2-header1 .sf-menu ul { width:180px; }
.v2-header1 .main-nav .sf-menu li:hover ul, .v2-header1 .main-nav .sf-menu li.sfHover ul { top:100px; }
.v2-header1 .main-nav .sf-menu li li:hover ul, .v2-header1 .main-nav .sf-menu li li.sfHover ul { top:0; left:180px; }
.v2-header1 .main-nav .sf-menu li li { margin-left:0; background-color:#11224c; }
.v2-header1 .main-nav .sf-menu li li a, .v2-header1 .main-nav .sf-menu li li a:visited { padding-top:10px; padding-bottom:10px; padding-left:20px; line-height:normal; font-weight:normal; color:#fff; font-size:13px; font-size:1.3rem; }
.v2-header1 .main-nav .sf-menu li li:hover,
.v2-header1 .main-nav .sf-menu li.sfHover li.sfHover,
.v2-header1 .main-nav .sf-menu li.sfHover li.sfHover > a,
.v2-header1 .main-nav .sf-menu li li a:focus,
.v2-header1 .main-nav .sf-menu li li a:hover,
.v2-header1 .main-nav .sf-menu li li a:active { background-color:#0f71d2; color:#fff; }
.v2-header1 .main-nav .sf-menu li li .sf-sub-indicator { top:1.5em; display:block; }
.v2-header1 .top-search { position:absolute; right:0; top:0; z-index:11; width:80px; height:80px;   }
.v2-header1 .search-form-toggle { display:block; width:80px; height:80px;  }
.v2-header1 .search-form-toggle:hover { background-color:#f29c11; }
.v2-header1 .search-form-toggle span { display:none; }
.v2-header1 .top-search .search-form { display:none; position:absolute; right:0; top:80px; z-index:11; width:350px; padding:15px; background-color:#fda412; }
.v2-header1 .top-search .search-form .form-text { padding-right:20px; width:252px; height:34px; line-height:34px; background-color:#e7991c; color:#fff;  }
.v2-header1 .top-search .search-form .form-btn { width:70px; height:34px; background:#cc8718; }
.v2-header1 .top-search .search-form .form-btn span { display:block; }
.v2-top-search { width:210px; float:left; padding-left:265px; margin-right:30px;}

    /*search*/
.v2-search-form .form-text { height:40px; line-height:40px; padding:0 8px; color:#999; font-size:13px; background-color:#fff; border:2px solid #ccc; }
.v2-search-form .form-btn { border:none; cursor:pointer; height:44px; width:60px; color:#fff; background:#fff; }
.v2-search-form .form-btn:hover { }
.v2-search-form .form-btn span { display:block; background: url(../../images/v2/icon-search.png) no-repeat center center; height:19px; }
.v2-search-form .form-btn span:hover {  background: url(../../images/v2/icon-search-hover.png) no-repeat center center; }
.v2-search-form-responsive { position:relative; padding:0 10px 0 10px; margin:25px 0 0 0; background-color:#fff; border-bottom:2px solid #ccc; }
.v2-search-form-responsive .form-text { width:100%; padding:0; border:none; height:44px; overflow:hidden; *zoom:1; }
.v2-search-form-responsive .form-btn { width:25px; height:40px; position:absolute; right:-2px; top:-2px; }


#wrapper .v2-header1-bgBlack { background:#221f35 url(../../images/v2/top-bg.jpg) repeat-x top left; }


/* 登陆后 */
.inLogin .inLogin-ico { padding:0 0 0 20px; background-repeat:no-repeat; background-position:left center; }

.inLogin .sf-menu a { border:none; color:#666 !important; padding-top:6px; padding-bottom:9px; }
.inLogin .sf-menu li { background-color:transparent; }
.inLogin .sf-menu li ul { width:11em; }
.inLogin .sf-menu li li { background-color:#fff; }
.inLogin .sf-menu li li a { border-bottom:1px solid #f2f2f2; padding:0.75em 1em; }
.inLogin .sf-menu li.sfHover, .inLogin .sf-menu li.sfHover a:hover { background-color:#fff; }
.inLogin .sf-menu li li:hover, .inLogin .sf-menu li.sfHover li a:hover, .inLogin .sf-menu li li a:focus, .inLogin .sf-menu li li a:hover, .inLogin .sf-menu li li a:active { background:#fafafa; }
.inLogin .sf-menu li:hover ul, .inLogin .sf-menu li.sfHover ul { top:70px; }
.inLogin .sf-menu a.sf-with-ul { padding-right:2em; }
.inLogin .sf-menu .sf-sub-indicator { top:0.6em; }
.inLogin-sign { display:block; width:36px; height:16px; overflow:hidden; position:absolute; top:7px; left:-30px; background:url(../images/inLogin-bg.png) no-repeat left center; }
.inLogin .sf-menu li:hover ul,.inLogin .sf-menu li.sfHover ul { right:0; left:auto;}
.inLogin { float:right;  position:relative; z-index:100; }
.inLogin a:hover { text-decoration:none; }
.inLogin .first-level, .inLogin .first-level:active { font-size:13px; padding:0 0 0 1.5em !important;  font-size:13px; }
.inLogin .sf-menu .sfHover .first-level { background-color:#261e29; color:#fff !important; }
.inLogin .first-level span { display:block; width:60px; height:100px; text-align: right; line-height:100px; background: url(../../images/v2/icon-arrowDown2.png) no-repeat center left; }
.inLogin .first-level span em { display:none; }
.inLogin .first-level span img{ border-radius: 50%; position: relative; top:14px;}
.inLogin .sf-menu .sfHover .first-level span { background: url(../../images/v2/icon-arrowDown2.png) no-repeat center left; }
.inLogin .sf-menu .sf-sub-indicator { display:none; width:9px; height:6px; right:20px; top:4.1em;}
.inLogin em { margin:0 3px; }
.inLogin .sf-menu li:hover,.inLogin .sf-menu li.sfHover,.inLogin .sf-menu a:focus,.inLogin .sf-menu a:hover,.inLogin .sf-menu a:active {
    background: transparent;}
.inLogin .first-level .language-ico { padding-left:30px; }
.inLogin .sf-menu li:hover ul, .inLogin .sf-menu li.sfHover ul { top:100px; }
.inLogin .sf-menu li ul { width:200px; left:auto; right:0; }
.inLogin .sf-menu li li { background-color:#11224c; }
.inLogin .sf-menu li li a { line-height:normal; padding:15px; color:#fff !important; border-bottom:none; font-size:13px; }
.inLogin .sf-menu li li:hover, .inLogin .sf-menu li.sfHover li a:hover, .inLogin .sf-menu li li a:focus, .inLogin .sf-menu li li a:hover, .inLogin .sf-menu li li a:active { background:#0f71d2; }




/****
    BANNER
*****/
.v2-banner { padding:20px 0; }
.v2-banner >.page-width> .fr { width:285px;}
.v2-banner >.page-width> .fl { width:895px;}
.v2-banner .col-lg-3 > div{ padding:20px;}
.v2-index-download-area { background:#fff; padding:17px 25px;}


.v2-banner .slideshow { overflow:hidden; }
.v2-banner .slideshow .carousel-direction a { width:55px; height:55px; line-height:55px; }
.v2-banner .slideshow .carousel-direction a:hover { }
.v2-banner .slideshow .carousel-prev { }
.v2-banner .slideshow .carousel-next { }
.responsive-carousel { overflow:hidden; }
.responsive-carousel .carousel-item img { width:100%; height:auto !important; }

.v2-banner .carousel { position:relative; }
.v2-banner .carousel-item { position:relative; float:left; display:block;  }
.v2-banner .carousel-item .carousel-img { display:block; }
.v2-banner .carousel-item .carousel-img a[href="javascript:;"] { cursor:default; }
.v2-banner .carousel-item .carousel-img img { display:block; }

.v2-banner .carousel-direction a {
    display:block; width:30px; height:60px; line-height:60px; overflow:hidden; position:absolute; top:50%; z-index:100; margin-top:-30px;
    font-family:simsun; text-align:center; color:#fff; font-size:30px; text-decoration:none; cursor:pointer; background-color:#3c3e46;
    -webkit-transition:all 0.3s ease-out 0s; -moz-transition:all 0.3s ease-out 0s; -o-transition:all 0.3s ease-out 0s; transition:all 0.3s ease-out 0s;
}
.v2-banner .carousel-direction a:hover { background-color:#0f71d2; color:#fff; text-decoration:none; }
.v2-banner .carousel-direction a.disabled, .carousel-direction a.disabled:hover { background-color:#dcf2ff; color:#ccc; cursor:default; }
.v2-banner .carousel-prev { left:0; }
.v2-banner .carousel-next { right:0; }
.v2-banner .carousel-btn { text-align:right; margin:10px 0; }
.v2-banner .carousel-btn a { display:inline-block; width:15px; height:15px; margin:0 6px; background:#bbb; border-radius:50%; }
.v2-banner .carousel-btn .selected { background:#0f71d2; cursor:default;}
.v2-banner .carousel-btn a span { display:none;}
.v2-banner .carousel-btn-fixed { width:95%; position:absolute; bottom:20px; right:30px; margin:0; z-index:100; }

.v2-banner .carousel-info { position:absolute; bottom:0; left:0; width:100%; z-index: 21; }
.v2-banner .carousel-info-inner { font-size:13px; padding:0 40px 40px; color:#fff; }
.v2-banner .carousel-info-inner a, .carousel-info-inner a:hover { color:#fff; }
.v2-banner .carousel-info-inner h3 { font-size:32px; line-height:1.6em; color:#fff; font-weight: normal; }
.v2-banner .carousel-info-inner p {margin-top:5px; }
.v2-banner .carousel-item-bg { display: block; position: absolute; top:0; left:0; width:100%; height:100%;  background:url(../../images/v2/banner-bg.png) repeat-x bottom left; z-index: 1; }

.v2-banner-listBg { background-color:#323c4c; padding:100px 0 80px;}
.v2-banner-gray { background-color:#f4f4f4; }
.v2-banner-blue { background-color:#eef3fa;}
.v2-banner-albumBg { background:#f5f4f0 url(../../images/v2/album-bg.jpg) repeat-x; padding:0;}
.v2-banner-notPadding { padding:0;}

/****
    FOOTER
*****/

.v2-bottom { background-color:#f4f7ff; color:#7695c3; padding:40px 0 70px;}
.v2-bottom h4 a { color:#333333; font-weight: normal; font-size: 18px;}
.v2-bottom h4 a:hover { color:#000; }
.v2-bottom a{ color:#7695c3;}
.v2-bottom a:hover{ color:#5180c6;}

.v2-footer { background-color:#5180c6; color:#9abdf1; padding:20px 0;}
.v2-footer a { color:#9abdf1; }
.v2-footer a:hover { color:#fff; }






/****
    COMMON ITEM
*****/
    /*v2-entry*/
.v2-entry-item { margin:0 10px 20px 0; position: relative; border:1px solid #e5e5e5;}
.v2-entry-item .v2-entry-classIcon { position: absolute; top:10px; left:10px; }
.v2-entry-item .v2-entry-classIcon a { display: block; padding:5px 12px; border-radius: 5px;  background-color:rgba(0,0,0,0.6); background-color:#999\9;  color:#fff;
    font-style: normal;}
.v2-entry-item:hover .v2-entry-classIcon a,
.v2-entry-item .v2-entry-classIcon a:hover {background-color:rgba(0,0,0,0.4); background-color:#eee\9; }
.v2-entry-item .v2-entry-title { padding:10px;}
.v2-entry-item .v2-entry-title h5 { font-size:16px; margin-bottom:10px; height: 3.5em; overflow: hidden; font-weight: normal;}
.v2-entry-item .v2-entry-title h5 a {color:#000;}
.v2-entry-item .v2-entry-title h5 a:hover {color:#0f71d2;}
.v2-entry-title .time { background:url(../../images/v2/icon-time.png) left center no-repeat; padding-left:25px;}
.v2-entry-area .last { margin-right:0; }
.v2-entry-item .v2-entry-img img  {height: 200px;
    width: 100%;}

.v2-entry-item:hover,
.v2-hover-shadow:hover {
    -webkit-box-shadow: 0px 0px 15px #ccc;
    -moz-box-shadow: 0px 0px 15px #ccc;
    box-shadow: 0px 0px 15px #ccc;
}

.v2-entry-item:hover .v2-entry-classIcon a{}

    /*v2-news*/
.v2-news-list { margin:0 10px 20px;}
.v2-news-title { padding:12px 20px; background-color:#205cc0; color:#fff; }
.v2-news-title h3 { font-size:20px; font-weight: normal;}
.v2-news-title .more{ color:#fff; padding-top:8px;}
.v2-news-title .more:hover{ text-decoration: underline;}
.v2-news-main { padding:10px 0;}
.v2-news-main ul li{ padding:5px 10px;}
.v2-news-main ul li a { font-size:16px;}
.v2-newsList-bottomBorder {}
.v2-newsList-bottomBorder ul li{ padding:15px; color:#333333;  border-bottom:1px solid #ccc; }

.v2-news-list-garyStyle {}
.v2-news-list-garyStyle .v2-news-title { border-top:5px solid #1e53af; background-color:#fff;}
.v2-news-list-garyStyle .v2-news-title h3{ color:#0f71d2;}
.v2-news-list-garyStyle .v2-news-main{ background-color:#fafafa; padding:15px 10px 25px;}
.v2-news-list-garyStyle .v2-news-title .more { color:#999;}

    /*v2-news-graphic*/
.v2-news-graphic {}
.v2-news-graphic-item { margin-bottom:40px; color:#666;}
.v2-news-graphic-item .fl {margin-right:30px;}
.v2-news-graphic-item .fl img { width:285px; height:200px;}
.v2-news-graphic-item h3 {  font-size:24px; font-weight: normal; line-height:1.4; margin-bottom:10px;}
.v2-news-graphic-item h3 a{ }
.v2-news-graphic-info { font-size:14px; margin-bottom:10px; color:#999999;}
.v2-news-graphic .gap { margin:0 5px; }

.v2-news-graphic-extend { color:#666; }
.v2-news-graphic-extend .v2-news-graphic-info{ color:#949494; }
.v2-news-graphic-img { position:relative; }
.v2-news-graphic-classIcon {     position: absolute; top: 10px; left: 10px; }
.v2-news-graphic-classIcon a{  display: block; padding: 5px 12px; border-radius: 5px; background-color: rgba(0,0,0,0.6); background-color: #999\9; color: #fff; font-style: normal; }
.v2-news-graphic-img:hover .v2-news-graphic-classIcon a,
.v2-news-graphic-img .v2-news-graphic-classIcon a:hover {background-color:rgba(0,0,0,0.4); background-color:#eee\9; }
.v2-news-graphic-border { border-bottom:1px solid #999; padding-bottom:20px; margin-bottom:30px;}

    /*v2-album-list*/
.v2-album-list-item { border:1px solid #dcdcdc; padding:30px 20px; margin-bottom:30px;}
.v2-album-list-item h3 { color:#000; font-size:28px; line-height: 1.2em; margin-top:10px; }
.v2-album-list-item .img img{ width:100%; max-width: 100%}

    /*v2-subNav*/
.v2-subNav { padding-right:70px; }
.v2-subNav ul li a{ display: block; border:1px solid #dcdcdc; font-size:20px; padding:20px 40px; background-color:#fff;}
.v2-subNav ul .current a { border-color:#0f71d2; background-color:#0f71d2; color:#fff;}

    /*v2-news-detail*/
.v2-news-detail {color:#333333; font-size:18px; /*border:1px solid #dcdcdc; padding:35px;*/}
.v2-news-detail h1,.v2-news-detail h2 {  color:#000; line-height: 1.2; margin-bottom:30px; }
.v2-news-detail h1{font-size:32px;}
.v2-news-detail h2{font-size:24px;}
.v2-news-detail p{  margin-bottom:15px;}
.v2-news-detail .v2-entry-title { margin-bottom:30px; font-size:18px; color:#666;}
.v2-news-detail .v2-news-detail-item img{max-width: 100%;}
.v2-news-detail .v2-entry-share { display:inline-block; *display: inline; position: relative; top:-3px; }
.v2-news-detail-footerDesc { margin-top:40px;  line-height: 42px; }
.v2-news-detail-print {   vertical-align: top; cursor:pointer; font-size:16px;  }
.v2-icon-print{ display:block; float:left; margin-right:8px; width:42px; height:42px; background:url(../../images/v2/icon-print.png) no-repeat;}

.v2-news-doctorInfo { background-color:#f3f3f3; color:#000; padding:30px; margin:40px 0 30px;}
.v2-news-doctorInfo h4 { font-weight: normal; font-size:24px; margin-bottom:10px;}

    /*v2-about-bg*/
.v2-about-bg { background:url(../../images/upload/about-bg.jpg) no-repeat;}
.v2-about-item { background:#fff; padding:80px 40px; font-size:16px; color:#333333;}
.v2-about-item .row{ margin:0;}
.v2-about-item .row img { max-width: 100%;}
.v2-about-item h3, .v2-about-item h4 { margin-bottom:35px;}
.v2-about-item h3 { font-size:28px; color:#000;}
.v2-about-item h4 { font-weight:normal; color:#010101; font-size:24px;}

.v2-about-team,.v2-about-news,.v2-about-links,.v2-about-maps { font-size:18px; color:#3e3e3e;}

.v2-sub-main .v2-about-links { padding-bottom:10px;}
.v2-about-links-list { padding-top:50px; }
.v2-about-links-list ul li{ float:left; }
.v2-about-links-list ul li a{ text-align: center; width:115px; display: inline-block; padding:0 90px 25px 0; min-height: 200px; font-size:14px; color:#000000;}
.v2-about-links-list ul li a:hover {color:#0f71d2;}
.v2-about-links-list ul .last a { padding-right:0;}

.v2-about-maps .formrow .formTitle,.v2-about-maps .formrow p { font-size:20px; color:#000000;}

.v2-about-team-item ul li { float:left; height:200px; margin-bottom:20px;}
.v2-about-team-item ul li a{ display: block; width:140px;  height:140px;  overflow: hidden; padding-right:63px; position: relative; }
.v2-about-team-bg { background: url(../../images/v2/team-bg.png) no-repeat; position: absolute; top:0; left:0; width:140px; height:100%; display: block; }
.v2-about-team-item ul .last a { padding-right:0;}
.v2-about-team-item ul li a .v2-about-team-img img { }
.v2-about-team-item .v2-about-team-img { font-size:0;}
.v2-about-team-item .v2-about-team-info { background-color:rgba(38,120,204,0.8); color:#fff; font-size:12px; text-align: center; padding:10px 0; position: absolute; bottom:0; left:0; width:140px; display: none;}
.v2-about-team-item .v2-about-team-title {font-size:14px;}
.v2-about-team-item ul li a:hover { height:auto; }
.v2-about-team-item ul li a:hover .v2-about-team-info  { display: block; }
.v2-about-team-item ul li a:hover .v2-about-team-bg { display: none;}
.v2-about-team-item ul li a:hover .v2-about-team-img img { border-radius: 0;}
.v2-about-team-item .more {}
.v2-about-team-item ul li.v2-team-join-button a { background:#0f79d7; border-radius: 50%;}
.v2-about-team-item ul li.v2-team-join-button a:hover { height:140px; background:#1089f4;}
.v2-about-team-item ul li.v2-team-join-button a:hover img{ border-radius:50%;}

.v2-about-team h3.title a.v2-about-team-more { background:#fff url(../../images/v2/icon-team.png) no-repeat 10px center; padding:12px 15px 12px 55px; color:#0f79d7; }
.v2-about-team h3.title a.v2-about-team-more:hover { background:#0f79d7 url(../../images/v2/icon-team-cur.png) no-repeat 10px center;color:#fff; }


.v2-more-button { border:1px solid #e5e5e5; color:#4d4d4d;font-size:18px; display: inline-block; padding:15px 140px; margin-top:40px; }
.v2-more-button:hover { background: #126ac1; color:#fff; border-color:#126ac1;}

.v2-index-download-button {background-color:#11224c; display: block; padding:10px 12px 3px;border-radius: 5px;}
.v2-index-download-button:hover { background-color:#1e52a8;}
.v2-index-download-button:active { background-color:#0d1a3b;}

.v2-login-button {  text-align: center; display: block; padding:10px 0; font-size:16px; }
.v2-blue-button { background-color:#0f71d2; color:#fff; }
.v2-blue-button:hover { color:#fff; background-color:#0876e2;}

.v2-data-login { width:320px; padding:30px 30px 10px;}

.v2-reg-area .v2-login_box{ margin-bottom:20px; }

.v2-login_box { margin-bottom:10px; position: relative; color:#000000;}
.v2-login_box .underline:hover { text-decoration: underline;}
.v2-login_box .chk_1 { position: absolute; position: static\9; left: -9999px; }
.v2-login_box .ico { display:inline-block; display:none\9; width:17px; height:17px; background:url(../../images/v2/checkbox-bg.png) no-repeat; position: relative; top:3px;}
.v2-login_box input[type="checkbox"]:checked + label i{background:url(../../images/v2/checkbox-bg-current.png) no-repeat;}


    /*v2-join*/
.v2-join-info {color:#666; font-size:24px; padding-top:40px;}
.v2-join-item {   padding:30px; margin:0 5px 10px;  color:#000; border:1px solid #e3e3e3; }
.v2-join-item-title { margin-bottom: 35px;}
.v2-join-item-title .oh{ padding:10px 0 10px 40px;}
.v2-join-item-title span{     font-size: 30px; border-bottom: 5px solid #177cd7; padding: 5px 0 10px;}
.v2-join-text { font-size:20px; margin-top:10px;}

    /*v2-page-box*/
.v2-page-box { padding: 20px; text-align: right; }
.v2-page-box a,.v2-page-box span { }
.v2-page-box a { background: #fff; border-radius: 3px; padding: 4px 8px; line-height: 29px; margin:0 5px; }
.v2-page-box a:hover, .v2-page-box .cur { background: #3d85d6; color: #fff; }
.v2-page-box .dot { font-size: 16px; margin-top: -7px; }
.v2-page-box .v2-page-box-next,
.v2-page-box .v2-page-box-next:hover{ background:url(../../images/v2/icon-next-pageBox.png) no-repeat center center ;}
.v2-page-box .v2-page-box-prev:hover,
.v2-page-box .v2-page-box-prev { background:url(../../images/v2/icon-prev-pageBox.png) no-repeat center center; }
.col-lg-8 .v2-page-box { text-align: left;}

    /*等分列表*/
.link-justified ul { display:table;table-layout:fixed; margin-bottom:-1px; width:100%; background-color:#fff;  border-bottom:1px solid #E4E4E4; }
.link-justified ul li { display:table-cell; margin-bottom:0; width:100%; height:48px; line-height: 48px; padding:0 30px; position:relative; font-size:14px; }
.link-justified ul .cur { background-color:#0099ff; color:#fff;}
.link-justified ul .active { background-color:#999; color:#fff;}


.v2-login-icon { width:32px; height:32px; display: inline-block; *display:inline; }
.v2-login-icon-max { width:45px; height:45px;}
.v2-weixin { background:url(../../images/v2/weixin.png) no-repeat; }
.v2-weixin-max {background:url(../../images/v2/weixin-reg.png) no-repeat;}
.v2-weixin:hover { background:url(../../images/v2/weixin-hover.png) no-repeat; }
.v2-weixin-max:hover { background:url(../../images/v2/weixin-reg-hover.png) no-repeat;}
.v2-qq { background:url(../../images/v2/qq.png) no-repeat; }
.v2-qq-max { background:url(../../images/v2/qq-reg.png) no-repeat; }
.v2-qq:hover{ background:url(../../images/v2/qq-hover.png) no-repeat; }
.v2-qq-max:hover{ background:url(../../images/v2/qq-reg-hover.png) no-repeat; }

.v2-subPage-searchItem { background:#f4f5f5; padding:15px 20px; margin-bottom:30px; }
.v2-subPage-searchTitle { float:left;}
.v2-subPage-searchItem .v2-subPage-serarch-content { overflow: hidden;  padding:0 0 0 20px; margin-bottom:0; background:transparent;}
.v2-subPage-searchItem .v2-helpPage-select-a { float:left; width:140px; zoom:1;}
.v2-subPage-searchItem .v2-helpPage-select-a .v2-helpPage-select{ padding:0 10px; padding:10px\9; height:49px; line-height: 49px; vertical-align: bottom;  border-color:#c4c4c4; font-size:16px; }
.v2-subPage-searchItem .v2-helpPage-select-a .v2-helpPage-select opstion { line-height:20px;}
.v2-subPage-searchItem .v2-helpPage-item .v2-helpPage-select-arrow { height:96%; background: #fff url(../../images/v2/icon-arrowDown2.png) no-repeat center center; }
.v2-subPage-searchItem .v2-search-form .form-text { width:100%; height:47px; line-height:47px; vertical-align: bottom; border:0;}
.v2-subPage-searchItem .v2-search-form .form-btn {position: absolute; right:0; top:0; width:47px;  height:47px; }
.v2-subPage-searchItem .v2-search-form .form-btn span{  background:url(../../images/v2/icon-search-hover.png) no-repeat center center;}
.v2-subPage-searchItem .v2-search-form {  position: relative; left:-1px; padding-right:47px;  overflow: hidden; border:1px solid #c4c4c4;}
.v2-searchText { padding:0 15px 30px; font-size:16px; color:#0f71d2;}
.v2-searchText .buttonGreen { position:relative; top:-4px;}
.v2-searchText-error { padding:15px 20px 20px; font-size:24px; color:#999;}

.v2-searchBg { background:#fff url(../../images/upload/_searchBg.jpg) no-repeat center top;}

.v2-fullSearch {}
.v2-fullSearch .v2-subPage-searchItem { background-color:transparent; padding:0; margin-bottom:0;}
.v2-fullSearch .v2-subPage-searchItem .v2-helpPage-item .v2-helpPage-select-arrow { background:#0f71d2 url(../../images/v2/icon-arrowDown3.png) no-repeat center center;}
.v2-fullSearch .v2-subPage-searchItem .v2-subPage-serarch-content { padding:35px 230px;}
.v2-fullSearch .v2-subPage-searchItem .v2-helpPage-select-a { width:20%;}
.v2-fullSearch .v2-subPage-searchItem .v2-helpPage-select-a .v2-helpPage-select { background-color:#0f71d2;  border-color: #0f71d2;
    color:#fff;}
.v2-fullSearch .v2-subPage-searchItem .v2-helpPage-select-a .v2-helpPage-select option { color:#fff;}
.v2-hot-search { text-align: center; color:#333;}
.v2-fullSearch-title { text-align: center; margin-top:160px;}


/* 外层布局 搜索
------------------------------------------------------------------------------------------ */

/**/
#wrapper { width:100%; margin-left:auto; margin-right:auto; background-color:#fff; position:relative; }
.page-width { width:1200px; margin:0 auto;  }
.page-width .page-width { width: auto;  }

.v2-sidebar { width:230px; padding:35px 0 65px; }

.v2-content { width:700px; padding:5px 20px 20px; _overflow:hidden; margin:35px 0 20px; background-color:#fff; }

.v2-main { padding:20px 0 50px;}
.v2-sub-main {}
.v2-helpPage-main { background-color:#e0e2f1; padding:90px 0; }
.v2-full-area { padding:70px 0;}
.v2-full-area > .page-width { padding: 0 20px; width:1160px;}
.v2-full-area h3.title { font-size:28px; color:#000; margin-bottom:35px;  }

.v2-full-area h3.title .more { font-size:14px; padding:12px 15px; border:1px solid #e5e5e5; font-weight: normal; background-color:#fff;}

.v2-medcnIndex .row{ margin:0; }

.module-full-screen-title { margin-bottom:40px; text-align:center; }
.module-full-screen-title > .module-title-content > h3 { display:inline-block; *display:inline; *zoom:1; margin:0 5px; line-height:normal; font-weight:bold; color:#000; font-size:28px;  }
.module-full-screen-title > .module-title-content > i { display:inline-block; *display:inline; *zoom:1; position:relative; top:-8px; width:100px; height:1px; overflow:hidden; background-color:#dadada; }




    /*v2-helpPage*/
.v2-helpPage-Menu { }
.v2-helpPage-item { background:#fff; padding:35px 45px; margin-bottom:20px; }
.v2-helpPage-item-minWidth {}

.v2-helpPage-Menu { border-bottom:5px solid #0f71d2;}
.v2-helpPage-Menu ul li { float:left;}
.v2-helpPage-Menu ul li a{ font-size:20px; padding:0 30px; line-height: 54px; color:#0f71d2;}
.v2-helpPage-Menu ul .current {background-color:#0f71d2;}
.v2-helpPage-Menu ul .current a{color:#fff;}

.v2-helpPage-Menu-min {}
.v2-helpPage-Menu-min ul { border-bottom:0;}
.v2-helpPage-Menu-min ul li{    padding:0 20px; }
.v2-helpPage-Menu-min ul li a { display: inline-block; width:100%; text-align: center; padding:5px 0; font-size:20px; color:#0f71d2;   border:1px solid #999999; background:#fff;}
.v2-helpPage-Menu-min ul .current a,
.v2-helpPage-Menu-min ul li a:hover { background:#0f71d2; border-color:#0f71d2; color:#fff;}

.v2-helpPage-main .tabs-default li a {width:230px; padding:20px 20px 20px 10px;  border:1px solid #c9c9c9; background-color:#fff; font-size:18px; color:#999999;}
.v2-helpPage-main .tabs-default li a .sf-sub-indicator { top:25px; width:17px; height:11px; background:url(../../images/v2/icon-arrowDown.png) no-repeat;}
.v2-helpPage-main .tabs-default li.nav-hover a .sf-sub-indicator { background:url(../../images/v2/icon-arrowUp.png) no-repeat;}
.v2-helpPage-main .sf-menu li:hover ul,.v2-helpPage-main .sf-menu li.sfHover ul { top:59px;}
.v2-helpPage-main .tabs-default li li a { border-width:1px 1px 0 1px; color:#000;}
.v2-helpPage-main .tabs-default li li .last { border-width:1px;}
.v2-helpPage-main .tabs-default li li a:hover { background-color:#0f71d2; border-color:#0f71d2; color:#fff;}

.v2-helpPage-item p { font-size:18px; color:#666; margin-bottom:10px;}
.v2-helpPage-item h4{ color:#666; font-size:20px; font-weight: normal; margin-bottom:25px;}
.v2-helpPage-item .v2-fq-text{ color:#000; font-size:20px; }
.v2-helpPage-item .v2-helpPage-input { border:1px solid #999999; width:90%; padding:15px 5%; color:#999999;font-size:18px;}
.v2-helpPage-item .v2-helpPage-textarea {  width:96%; padding:20px 2%; border:1px solid #999999 ; color:#999999;font-size:16px; resize:none;}
.v2-helpPage-item .v2-helpPage-select { width:100%; border:1px solid #999; padding:15px 10px; color:#999999; font-size:18px; position: relative;}
.v2-helpPage-item .v2-helpPage-select option { color:#000;}
.v2-helpPage-item .v2-helpPage-select-arrow { position: absolute; right:1px; top:1px; display: block; width:35px; height:97%;background:#fff url(../../images/v2/icon-arrowDown.png) no-repeat center center; z-index: 2; }
.v2-helpPage-item .v2-helpPage-select-cur .v2-helpPage-select-arrow{ background:#fff url(../../images/v2/icon-arrowUp.png) no-repeat center center; }
/*.v2-helpPage-item .v2-helpPage-select-a:hover .v2-helpPage-select-arrow,*/
/*.v2-helpPage-item .v2-helpPage-select-a:active .v2-helpPage-select-arrow{ background:#fff url(../../images/v2/icon-arrowUp.png) no-repeat center center; }*/
.v2-helpPage-item .row { margin-left:-20px; margin-right:-20px;}
.v2-helpPage-item .row .col-lg-4 .clearfix{ margin:0 20px;}
.v2-helpPage-margin  { margin-bottom:25px;}
.v2-helpPage-item h6 { font-size:18px; color:#010101; font-weight: normal; margin-bottom:5px;}
.v2-helpPage-item h2 { padding:45px 0 ;}
.v2-helpPage-full-button { padding:20px 0; width:100%; border:1px solid #999; background:#0f71d2; color:#fff; font-size:20px; margin-top:20px; text-align: center;}
.v2-helpPage-select-a { display: block; cursor: pointer;}

    /* 返回顶部 */
.gotop-wrapper,.v2-help-fixed  { position:fixed; bottom:200px; right:15px; z-index:1001;  }
.gotop-wrapper:hover {  }
.gotop-wrapper a, .v2-help-fixed a{
    text-indent: -9999px;
    display:none; _display:none !important;
    width:65px; height:65px; overflow:hidden;  background:url(../../images/v2/top.png) no-repeat center;
}
.v2-help-fixed { bottom:100px; }

.v2-help-fixed .v2-help-button {

    background:url(../../images/v2/help.png) no-repeat center;
}
div.index-gotop { bottom:50px;}
div.index-gotop a{ background:url(../../images/v2/index-gotop.png) no-repeat center;}
div.index-gotop a:hover { background:url(../../images/v2/index-gotop-hover.png) no-repeat center;}

