/*��������*/
.yis-intr{
	background-image:url(../images/intr-bg2.png);
	height:600px;
	width:100%;
	overflow: visible;
	
}
.yis-content{
    float: none;
	height: 600px;
	background-image: url(../images/intr-phones-2.png);
	background-repeat: no-repeat;
	background-position: left bottom;

}
.yis{
	float: none;
	width: 420px;
	height: 88px;
	margin-left:570px;
	padding-top:130px;
	color:#fff;
}
.yis-intr .yis img{
	float: left;
}
.yis .yispt {
	float: left;
	height: 88px;
	font-size: 28px;
	font-weight: bold;
	padding-left:30px;

}
.yis .yispt p{
	line-height:46px;
}

.yis .yierw{
    float:left;
    width:420px;
	height: 129px;
	margin-top: 32px;
	/*ɾ��background-image: url(../images/erweima.png);*/
	background-repeat: no-repeat;
	background-position: left center;
}

.yierw .yisdown{
    float:left;
}
.yierw img{
    float: right;
	margin-left:50px;
}

/*�������ذ�ť*/
.yierw p{
	margin-bottom: 5px;
}
.yis-azxz,.yis-iosxz{
	height: 67px;
	width: 220px;
	background-position: center center;
	color:#FFFFFF;
	font-size:24px;
	border:none;
}
.yis-intr-wz p {
	font-size: 18px;
	color: #666666;
	font-weight: normal;
	line-height:30px
}

.yis-azxz {
	background: url(../images/yis-android.png) repeat;
	font-family: "Microsoft Yahei",Arial;
	font-size: 22px;
}
.yis-iosxz{
	background: url(../images/yis-ios.png) repeat;
	font-family: "Microsoft Yahei",Arial;
	font-size: 22px;
}

/*�������*/
.function-intr {
	background-color: #f5f6f6;
	float: left;
	width: 100%;
}
.function-intr-w {
	background-color: #ffffff;
	float: left;
	width: 100%;
}
.yis-intr-bj, .yis-intr-bj-2, .yis-intr-bj-3{
	background-repeat: no-repeat;
	background-position: right center;
	height:620px;
}
.yis-intr-bj-3 {	
	background-image: url(../images/yis-intr-3.png);
}
.yis-intr-bj-2 {
	background-image: url(../images/yis-intr-2.png);
}
.yis-intr-bj {	
	background-image: url(../images/yis-intr-1.png);	
}
.yis-intr-bj .yis-intr-wz{
	width:310px;
	float: left;
	padding-left: 115px;
	text-align:left;
	padding-top: 200px;
}
.yis-intr-bj-2 .yis-intr-wz{
	width:300px;
	float:right;
	padding-right:30px;
	text-align:right;
	padding-top: 210px;
}
.yis-intr-bj-3 .yis-intr-wz{
	width:300px;
	padding-left:115px;
	text-align:left;
	padding-top: 230px;
}
.yis-intr-wz {
	font-size: 20px;
	
}
.yis-intr-wz span{
	font-size: 44px;
	color: #2a8fdf;
	line-height:68px;
}

/*�����ɫ*/
.rjts {
	float: left;
	width: 100%;
	background-color:#f5f6f6;
}
.title{
	padding-top:48px;
	color: #2a8fdf;
	font-size: 44px;
	margin-right: auto;
	padding-left:34px;
	margin-left: auto;
	width:990px;
}
.rjts .tese {
	margin-top: 40px;
	height: 130px;
}

/*�����ɫ���ֵ�ͳһ��ʽ*/
.ts{	
	float:left;
	height: 106px;
	width: 278px;
	padding-right: 28px;
	padding-left: 28px;
}
.ts img{	
	float:left;
	top:0px;
}
.ts h3{
	padding-left:84px;
}
.ts span {
	font-size: 20px;
	color: #333333;
}
.ts h3{
	color:#666666;
	font-size:14px;
	line-height:25px;
	font-weight: normal;
}
/*����*/
.zg-content .yishi a{ color:#1a1a1a;	}
.zg-content .normal a,.zg-content .yaoshi a{
	color:#4c4c4c;
}
.zg-content .yishi{
color:#1a1a1a;
background-image:url(../images/zg-title.png);
}

.yis .what{
    height:38px;
	line-height:38px;
	font-family: "Microsoft Yahei",Arial;
	font-size: 20px;
	margin-top:30px;
	width:200px;
	font-color:#fff;
	float:left;
}
.what a{
	color:#fff;
	text-decoration:none;
}

.what a:hover{
	color:#fff;
	text-decoration:none;
}
.what img{
	margin-right:20px;
	float:left;
}